<div class="about screen">
  <div class="header-section">
    <div class="container-2">
      <div class="content-4">
        <div class="heading-and-supporting-text">
          <div class="heading-and-subheading">
            <div class="subheading text-smsemibold">Nice to meet you</div>
            <h1 class="heading-2">About us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-sections">
    <div class="container-3">
      <div class="content-5">
        <div class="heading-and-supporting-text-1">
          <div class="heading-and-badge"><div class="heading-3 inter-semi-bold-mirage-36px">Who we are</div></div>
          <div class="supporting-text-1 text-xlnormal">
            Stichting Zeilen van Vrijheid is a charitable foundation registered in the Dutch Chamber of Commerce
            under the KvK number 85736619. We are a grassroots humanitarian organisation committed to delivering
            priority emergency vehicles, medicines, and equipment to Ukraine. <br />Our Foundation is 100%
            volunteer-run and volunteer-led.
          </div>
        </div>
      </div>
    </div>
    <div class="container-4">
      <div class="content-6">
        <div class="rich-text-1">
          <div class="section-1">
            <div class="heading-4 display-smsemibold">Our mission</div>
            <div class="paragraph text-lgnormal">
              Zeilen van Vrijheid seeks to support the brave doctors, medics, first responders, and hospital staff
              in Ukraine, empowering them to save more lives in the aftermath of Russia’s unjust and unprovoked
              military invasion of Ukraine.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="rich-text">
          <div class="section"><div class="heading display-smsemibold">Our values</div></div>
        </div>
      </div>
    </div>
    <div class="container-5">
      <div class="content-7">
        <div class="contact-text-1">
          <div class="content-8">
            <div class="text-and-supporting-text-1">
              <div class="text text-lgmedium">Transparency</div>
              <p class="supporting-text-2 text-mdnormal">
                We are open and transparent about all our activities. We openly talk about our humanitarian convoys
                and encourage our volunteers to do the same. We account for every cent and every pack of medicine
                donated to us.
              </p>
            </div>
          </div>
        </div>
        <div class="contact-text">
          <div class="content-1">
            <div class="text-and-supporting-text">
              <div class="text text-lgmedium">Efficiency</div>
              <p class="supporting-text text-mdnormal">
                In times of war, time is of the essence. We create robust processes and work tirelessly to ensure
                that our humanitarian aid reaches its destination as quickly as possible.
              </p>
            </div>
          </div>
        </div>
        <div class="contact-text">
          <div class="content-1">
            <div class="text-and-supporting-text">
              <div class="text text-lgmedium">Value</div>
              <p class="supporting-text text-mdnormal">
                Our goal is to maximise the value of each charitable donation, each donation in kind, and each
                volunteer’s time. By providing value where it is needed right now, we help save more lives.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content-9"></div>
    </div>
    <div class="team-section">
      <div class="container-6">
        <div class="content-10">
          <div class="heading-and-supporting-text-2">
            <div class="heading-5 display-smsemibold">Key people</div>
            <div class="supporting-text-3 text-lgnormal">
              Our Foundation is 100% volunteer-run and volunteer-led.
            </div>
          </div>
          <div class="actions">
            <div class="button">
              <div class="button-base"><div class="text-1 text-mdmedium">Join us</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-7">
        <div class="content-11">
          <div class="testimonials">
            <div class="team-member">
              <img class="image" src="assets/img/image-1kp@2x.png" />
              <div class="text-and-social-links">
                <div class="name-and-supporting-text">
                  <div class="name-and-role">
                    <div class="name text-lgmedium">Veronika Mutsei</div>
                    <div class="role text-mdnormal">Founder &amp; CEO</div>
                  </div>
                  <p class="supporting-text-4 text-mdnormal">
                    Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
                  </p>
                </div>
                <div class="social-icons">
                  <img
                    class="social-icon-1"
                    src="assets/img/social-icon@2x.png"
                  />
                  <img
                    class="social-icon-2"
                    src="assets/img/social-icon-1@2x.png"
                  />
                  <img
                    class="social-icon-3"
                    src="assets/img/social-icon-2@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="team-member">
              <div class="image-1">
                <img class="image" src="assets/img/image-2kp@2x.png" />
              </div>
              <div class="text-and-social-links">
                <div class="name-and-supporting-text">
                  <div class="name-and-role">
                    <div class="name text-lgmedium">Dan Simanov</div>
                    <div class="role text-mdnormal">Co-founder</div>
                  </div>
                  <p class="supporting-text-5 text-mdnormal">
                    Lead engineering teams at Figma, Pitch, and Protocol Labs.
                  </p>
                </div>
                <div class="social-icons">
                  <img
                    class="social-icon-1"
                    src="assets/img/social-icon@2x.png"
                  />
                  <img
                    class="social-icon-2"
                    src="assets/img/social-icon-1@2x.png"
                  />
                  <img
                    class="social-icon-3"
                    src="assets/img/social-icon-2@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="team-member">
              <img class="image" src="assets/img/image-3kp@2x.png" />
              <div class="text-and-social-links">
                <div class="name-and-supporting-text">
                  <div class="name-and-role">
                    <div class="name text-lgmedium">Masha</div>
                    <div class="role text-mdnormal">Medical coordinator</div>
                  </div>
                  <p class="supporting-text-6 text-mdnormal">Former PM for Linear, Lambda School, and On Deck.</p>
                </div>
                <div class="social-icons">
                  <img
                    class="social-icon-1"
                    src="assets/img/social-icon@2x.png"
                  />
                  <img
                    class="social-icon-2"
                    src="assets/img/social-icon-1@2x.png"
                  />
                  <img
                    class="social-icon-3"
                    src="assets/img/social-icon-2@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="team-member">
              <img class="image" src="assets/img/image-4kp@2x.png" />
              <div class="text-and-social-links">
                <div class="name-and-supporting-text">
                  <div class="name-and-role">
                    <div class="name text-lgmedium">Oleg Guziy</div>
                    <div class="role text-mdnormal">Drivers coordinator</div>
                  </div>
                  <p class="former-frontend-dev text-mdnormal">
                    Former frontend dev for Linear, Coinbase, and Postscript.
                  </p>
                </div>
                <div class="social-icons">
                  <img
                    class="social-icon-1"
                    src="assets/img/social-icon@2x.png"
                  />
                  <img
                    class="social-icon-2"
                    src="assets/img/social-icon-1@2x.png"
                  />
                  <img
                    class="social-icon-3"
                    src="assets/img/social-icon-2@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="team-member">
              <img class="image" src="assets/img/image-5kp@2x.png" />
              <div class="text-and-social-links">
                <div class="name-and-supporting-text">
                  <div class="name-and-role">
                    <div class="name text-lgmedium">Irina Sheftel</div>
                    <div class="role text-mdnormal">Logistics coordinator</div>
                  </div>
                  <p class="supporting-text-7 text-mdnormal">
                    Lead backend dev at Clearbit. Former Clearbit and Loom.
                  </p>
                </div>
                <div class="social-icons">
                  <img
                    class="social-icon-1"
                    src="assets/img/social-icon@2x.png"
                  />
                  <img
                    class="social-icon-2"
                    src="assets/img/social-icon-1@2x.png"
                  />
                  <img
                    class="social-icon-3"
                    src="assets/img/social-icon-2@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="team-member">
              <img class="image" src="assets/img/image-6kp@2x.png" />
              <div class="text-and-social-links">
                <div class="name-and-supporting-text">
                  <div class="name-and-role">
                    <div class="name text-lgmedium">Zmicier Zaleznicenka</div>
                    <div class="role text-mdnormal">Communications coordinator</div>
                  </div>
                  <p class="supporting-text-8 text-mdnormal">
                    Founding design team at Figma. Former Pleo, Stripe, and Tile.
                  </p>
                </div>
                <div class="social-icons">
                  <img
                    class="social-icon-1"
                    src="assets/img/social-icon@2x.png"
                  />
                  <img
                    class="social-icon-2"
                    src="assets/img/social-icon-1@2x.png"
                  />
                  <img
                    class="social-icon-3"
                    src="assets/img/social-icon-2@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="team-member">
              <img class="image" src="assets/img/image-7kp@2x.png" />
              <div class="text-and-social-links">
                <div class="name-and-supporting-text">
                  <div class="name-and-role">
                    <div class="name text-lgmedium">Anna Bogdanova</div>
                    <div class="role text-mdnormal">Strategy</div>
                  </div>
                  <p class="supporting-text-9 text-mdnormal">
                    Lead user research for Slack. Contractor for Netflix and Udacity.
                  </p>
                </div>
                <div class="social-icons">
                  <img
                    class="social-icon-1"
                    src="assets/img/social-icon@2x.png"
                  />
                  <img
                    class="social-icon-2"
                    src="assets/img/social-icon-1@2x.png"
                  />
                  <img
                    class="social-icon-3"
                    src="assets/img/social-icon-2@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="team-member">
              <img class="image" src="assets/img/image-8kp@2x.png" />
              <div class="text-and-social-links">
                <div class="name-and-supporting-text">
                  <div class="name-and-role">
                    <div class="name text-lgmedium">Olena Bulygina</div>
                    <div class="role text-mdnormal">UX &amp; Fundraising</div>
                  </div>
                  <p class="supporting-text-10 text-mdnormal">
                    Lead CX at Wealthsimple. Former PagerDuty and Sqreen.
                  </p>
                </div>
                <div class="social-icons">
                  <img
                    class="social-icon-1"
                    src="assets/img/social-icon@2x.png"
                  />
                  <img
                    class="social-icon-2"
                    src="assets/img/social-icon-1@2x.png"
                  />
                  <img
                    class="social-icon-3"
                    src="assets/img/social-icon-2@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="arrows">
            <div class="testiomonial-carousel-arrow border-1px-gray200">
              <img
                class="arrow"
                src="assets/img/arrow-left@2x.png"
              />
            </div>
            <div class="testiomonial-carousel-arrow border-1px-gray200">
              <img
                class="arrow"
                src="assets/img/arrow-right@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="quote-section">
      <div class="container-8">
        <div class="content-12">
          <div class="quote-and-attribution">
            <div class="quote display-smmedium">
              “My wife is Ukrainian and we still have family there. This gave me an opportunity to do help out in
              some small way and I met some great people along the way”
            </div>
            <div class="attribution-and-arrows">
              <div class="text-and-supporting-text-2">
                <div class="text-4 text-lgmedium">— Ian, Ireland</div>
                <div class="supporting-text-11 text-mdnormal">Procurement</div>
              </div>
              <div class="arrows">
                <div class="testiomonial-carousel-arrow border-1px-gray200">
                  <img
                    class="arrow"
                    src="assets/img/arrow-left@2x.png"
                  />
                </div>
                <div class="testiomonial-carousel-arrow border-1px-gray200">
                  <img
                    class="arrow"
                    src="assets/img/arrow-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-9">
        <div class="image-9">
          <div class="quote-image-bottom-panel"></div>
        </div>
      </div>
    </div>
    <div class="how-you-can-help">
      <div class="container-10">
        <div class="content-13">
          <div class="overlap-group-1">
            <div class="heading-and-supporting-text-3">
              <div class="heading-6 inter-semi-bold-mirage-36px">How you can help</div>
            </div>
            <div class="actions-1"></div>
          </div>
        </div>
        <div class="row">
          <div class="blog-post-card">
            <img
              class="image-10"
              src="assets/img/image@3x.jpg"
            />
            <div class="content-2">
              <div class="heading-and-text-1">
                <div class="heading-7 text-xlsemibold">Donate to make a difference</div>
                <p class="supporting-text-12 text-mdnormal">
                  Every extra cent helps us buy more medicines, more medical equipment, and more emergency vehicles
                  to save lives in Ukraine. See how you can donate now:
                </p>
              </div>
              <div class="button-1">
                <div class="button-base-1">
                  <div class="text-2 text-mdmedium">CTA</div>
                  <img
                    class="arrow"
                    src="assets/img/arrow-up-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-card-1">
            <div class="image-11"></div>
            <div class="content-2">
              <div class="heading-and-text">
                <div class="heading-8 text-xlsemibold">Volunteers needed</div>
                <p class="supporting-text-13 text-mdnormal">
                  We are always on the lookout for volunteers to help us load and drive our vehicles, source medical
                  equipment, and help us digitally. Reach out to learn how you can make a difference:
                </p>
              </div>
              <div class="button-1">
                <div class="button-base-1">
                  <div class="text-2 text-mdmedium">CTA</div>
                  <img
                    class="arrow"
                    src="assets/img/arrow-up-right-1@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-card-2">
            <div class="image-12"></div>
            <div class="content-2">
              <div class="heading-and-text">
                <div class="heading-9 text-xlsemibold">Adopt an ambulance</div>
                <p class="supporting-text-14 text-mdnormal">
                  Would you or your organisation like to adopt an ambulance or other emergency vehicle? We can help
                  you send a fully branded vehicle to Ukraine and provide PR support. Get in touch to discuss your
                  options:
                </p>
              </div>
              <div class="button-1">
                <div class="button-base-1">
                  <div class="text-2 text-mdmedium">CTA</div>
                  <img
                    class="arrow"
                    src="assets/img/arrow-up-right-2@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="rich-text">
          <div class="section"><div class="heading display-smsemibold">Our impact</div></div>
        </div>
      </div>
    </div>
    <div class="container-11">
      <div class="content-14">
        <div class="images">
          <img class="image14" src="assets/img/image-12@2x.png" />
          <img class="image14" src="assets/img/image-13@2x.png" />
          <img class="image14" src="assets/img/image-14@2x.png" />
        </div>
        <div class="arrows-1">
          <div class="testiomonial-carousel-arrow-1 border-1px-gray200">
            <img
              class="arrow-left"
              src="assets/img/arrow-left@2x.png"
            />
          </div>
          <div class="testiomonial-carousel-arrow-1 border-1px-gray200">
            <img
              class="arrow-right"
              src="assets/img/arrow-right@2x.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cta-section">
      <div class="overlap-group1">
        <div class="background-overlap"></div>
        <div class="container-12">
          <div class="content-15">
            <div class="heading-and-supporting-text-4">
              <div class="heading-10 display-smsemibold">See for yourself</div>
              <div class="supporting-text-15 text-lgnormal">
                As a grassroots organisation, we value transparency above all. Read our reports to see the
                difference our work has made so far:
              </div>
            </div>
            <div class="actions">
              <div class="button">
                <div class="button-base"><div class="text-1 text-mdmedium">Our reports</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


