<div class="join-us screen">
  <div class="careers-section-ysj9e3">
    <div class="header-VIpO9m">
      <div class="content-8vNlKW">
        <div class="heading-and-supporting-text-XXH68R">
          <div class="heading-and-subheading-xebUWv">
            <div class="heading-EkGnef inter-semi-bold-mirage-36px">Want to get involved? Welcome!</div>
          </div>
          <div class="our-philosophy-is-si-xebUWv text-xlnormal">
            Zeilen Van Vrijheid is 100% volunteer-run, so our volunteers&#39; time and skills make our work
            possible. Check out our open volunteer opportunities below. If you have another idea on how you can
            help, please get in touch. We&#39;d love to hear from you!
          </div>
        </div>
      </div>
    </div>
    <div class="main-content-VIpO9m">
      <div class="content-YknPxr">
        <div class="job-post-OAPD8Z">
          <div class="divider-gu2YWN"></div>
          <div class="content-gu2YWN">
            <div class="text-and-supporting-text-tpsmFp">
              <div class="text-and-badge-1DS7J1"><div class="text-vUwv6k text-lgmedium">Convoy Drivers</div></div>
              <div class="supporting-text-1DS7J1 text-mdnormal">
                Telegram link, google form<br />We are always looking for volunteers to drive our humanitarian
                convoys to the Poland-Ukraine border. If you are an experienced driver with a category B license or
                above and would like to drive with us, please get in touch. <br />Especially looking for drivers
                ready to cross Ukraine border and category C driving license holders.
              </div>
            </div>
            <div class="details-tpsmFp">
              <div class="location-wrap-OcoBxk">
                <img class="map-pin-xdLX8P" src="assets/img/map-pin@2x.png" />
                <div class="location-xdLX8P text-mdmedium">Departure from Amsterdam</div>
              </div>
              <div class="type-of-work-wrap-OcoBxk">
                <img class="clock-txNnEG" src="assets/img/clock@2x.png" />
                <div class="type-of-work-txNnEG text-mdmedium">n hours per shift</div>
              </div>
            </div>
          </div>
        </div>
        <div class="job-post-hkmfqE">
          <div class="divider-dpIEJH"></div>
          <div class="content-dpIEJH">
            <div class="text-and-supporting-text-iM3Sos">
              <div class="text-and-badge-9C9cyg">
                <div class="text-Xjncy6 text-lgmedium">Warehouse Volunteers</div>
              </div>
              <div class="supporting-text-9C9cyg text-mdnormal">
                Telegram link<br />Sorting, packing, and loading humanitarian aid is a monumental task. Would you
                like to help? Our warehouse is located in &lt;location&gt; and just two hours of your time can make
                a difference.
              </div>
            </div>
            <div class="details-iM3Sos">
              <div class="location-wrap-YQq8xj">
                <img class="map-pin-vDjZhp" src="assets/img/map-pin@2x.png" />
                <div class="location-vDjZhp text-mdmedium">Nieuwegein</div>
              </div>
            </div>
          </div>
        </div>
        <div class="job-post-w5qNpi">
          <div class="divider-DPwQI1"></div>
          <div class="content-DPwQI1">
            <div class="text-and-supporting-text-YODQPE">
              <div class="text-and-badge-gV8MXz">
                <div class="text-dlNE4g text-lgmedium">Medical Coordinators</div>
              </div>
              <div class="supporting-text-gV8MXz text-mdnormal">
                We need support from people with experience in the healthcare, pharma, and medical devices
                industries to help us liaise with our partners. Your help will be essential in sourcing vital
                equipment.
              </div>
            </div>
            <div class="details-YODQPE">
              <div class="location-wrap-1Va57q">
                <img class="map-pin-ytUjF1" src="assets/img/map-pin@2x.png" />
                <div class="location-ytUjF1 text-mdmedium">Online</div>
              </div>
            </div>
          </div>
        </div>
        <div class="job-post-bM66Wd">
          <div class="divider-RsoZuK"></div>
          <div class="content-RsoZuK">
            <div class="text-and-supporting-text-EYhhu1">
              <div class="text-and-badge-5oVLCI">
                <div class="text-uRneD3 text-lgmedium">Administrative Assistants</div>
              </div>
              <div class="supporting-text-5oVLCI text-mdnormal">
                Do you have an eye for detail and impeccable organisational skills? We could really use your help to
                arrange documents for our convoys and prepare everything for print.
              </div>
            </div>
            <div class="details-EYhhu1">
              <div class="location-wrap-SGCalu">
                <img class="map-pin-PMTbzy" src="assets/img/map-pin@2x.png" />
                <div class="location-PMTbzy text-mdmedium">Online</div>
              </div>
            </div>
          </div>
        </div>
        <div class="job-post-S6OwRL">
          <div class="divider-MqhyjE"></div>
          <div class="content-MqhyjE">
            <div class="text-and-supporting-text-GxPqLQ">
              <div class="text-and-badge-cXblAC">
                <div class="text-kXiasd text-lgmedium">Marketing, PR, Design Specialists</div>
              </div>
              <div class="supporting-text-cXblAC text-mdnormal">
                Getting the word out about our work helps ensure that we can keep going! If you have marketing, PR,
                web design, or print design skills and would like to volunteer your time, please get in touch. There
                are always tasks available.
              </div>
            </div>
            <div class="details-GxPqLQ">
              <div class="location-wrap-JIX2c9">
                <img class="map-pin-rlBJqk" src="assets/img/map-pin@2x.png" />
                <div class="location-rlBJqk text-mdmedium">Online</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-YknPxr"><img class="image-XX4P4m" src="assets/img/image@1x.png" /></div>
    </div>
    <div class="cta-VIpO9m">
      <div class="content-RUJkIo">
        <div class="heading-and-supporting-text-FwRaaK">
          <div class="heading-2XrwBr display-smsemibold">Can you help in any other way?</div>
          <div class="supporting-text-2XrwBr text-xlnormal">
            We&#39;d love to hear from you if you have any other skills that you think could help our cause. Our
            volunteers are the backbone of our organisation, and we are always happy to have new people join us.
          </div>
        </div>
        <div class="actions-FwRaaK">
          <div class="button-TWNguf">
            <div class="button-base-9IjAFD border-1px-primary500">
              <a class="text-Q7lXAk text-mdmedium" href="mailto:zeilenvanvrijheid@gmail.com" target="_blank">
                Write email
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

