<div class="header">
  <div class="container">
    <div class="content">
      <div class="logo" (click)="menuService.setMenuSelection(MenuSelection.Landing)">
        <img
          class="logomark"
          src="https://anima-uploads.s3.amazonaws.com/projects/626d90b37f34ef74495618b5/releases/626e6fa07f34ef74495619e7/img/logomark@2x.png"
        />
        <img
          class="logotype"
          src="https://anima-uploads.s3.amazonaws.com/projects/626d90b37f34ef74495618b5/releases/626e6fa07f34ef74495619e7/img/logotype@2x.png"
        />
      </div>
      <div class="navigation">
        <div class="button" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
          <div class="button-base"><div class="text text-mdmedium">Volunteer</div></div>
        </div>
        <div class="dropdown-header-navigation-trigger">
          <div class="button-1" (click)="menuService.setMenuSelection(MenuSelection.Partner)">
            <div class="button-base-1"><div class="text text-mdmedium">Sponsor an ambulance</div></div>
          </div>
        </div>
        <div class="dropdown-header-navigation-trigger-1">
          <div class="button-2" (click)="menuService.setMenuSelection(MenuSelection.Media)">
            <div class="button-base-2"><div class="text text-mdmedium">Media</div></div>
          </div>
        </div>
        <div class="button-3" (click)="menuService.setMenuSelection(MenuSelection.Reports)">
          <div class="button-base-3"><div class="text text-mdmedium">Reports</div></div>
        </div>
        <div class="button-4" (click)="menuService.setMenuSelection(MenuSelection.Request)">
          <div class="button-base-4"><div class="text text-mdmedium">Request</div></div>
        </div>
        <div class="button-5" (click)="menuService.setMenuSelection(MenuSelection.About)">
          <div class="button-base-5"><div class="text text-mdmedium">About us</div></div>
        </div>
      </div>
    </div>
    <div class="navigation-actions">
      <div class="button-6" (click)="menuService.setMenuSelection(MenuSelection.Donate)">
        <div class="button-base-6"><div class="text-1 text-mdmedium">Donate now</div></div>
      </div>
    </div>
  </div>
</div>
<img class="divider-x5p6S7" src="assets/img/divider@1x.svg">
