<div class="media screen">
  <div class="frame-2">
    <div class="features-section">
      <div class="section">
        <div class="container-1">
          <div class="content">
            <div class="heading-and-supporting-text">
              <div class="heading-and-subheading">
                <p class="subheading text-smsemibold">We are open for contact</p>
                <h1 class="heading-1 display-smsemibold">Media information</h1>
              </div>
              <div class="supporting-text text-lgnormal">
                We are always happy to take your questions and help with texts, images or videos about our vehicles,
                work, and impact. We also can provide comments on volunteering, self-organisation, and non-profit
                work for Ukraine.<br />Email for any enquiries: info@zeilenvanvrijheid.nl
              </div>
            </div>
          </div>
        </div>
        <div class="container-2">
          <div class="content-2">
            <div class="feature-text">
              <div class="featured-icon border-6px-mystic">
                <img
                  class="x2-layers"
                  src="assets/img/2-layers@2x.png"
                />
              </div>
              <div class="text-and-supporting-text">
                <div class="text text-lgmedium">Our media kit</div>
                <p class="supporting-text-1 text-mdnormal">
                  Please download the latest version of our media kit with logos, photos and other curated content
                  prepared with love.
                </p>
              </div>
            </div>
            <div class="feature-text-1">
              <div class="featured-icon border-6px-mystic">
                <img
                  class="zap"
                  src="assets/img/zap@2x.png"
                />
              </div>
              <div class="text-and-supporting-text-1">
                <div class="text text-lgmedium">Copy our homework</div>
                <p class="supporting-text-2 text-mdnormal">
                  Feel free to use any materials from our website, be it texts, photos or videos with the
                  attribution. We would appreciate it if you share the link with us.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-1">
        <div class="container-3">
          <div class="content-3">
            <img class="image" src="assets/img/media_image1@1x.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

