@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600");

.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.media {
  background-color: var(--basewhite);
  display: flex;
  min-width: 100vw;
  width: 100%;
}

.media .frame-2 {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.media .dropdown-header-navigation {
  align-items: flex-start;
  background-color: var(--basewhite);
  display: flex;
  min-width: 100vw;
}

.media .overlap-group {
  height: 72px;
  position: relative;
  width: 100vw;
}

.media .divider {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 71px;
  width: 100vw;
}

.media .header {
  display: flex;
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.media .container {
  display: flex;
  margin-top: 16px;
  width: 100vw;
}

.media .logo {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 16px;
  min-width: 192px;
}

.media .logomark {
  height: 32px;
  width: 32px;
}

.media .logotype {
  height: 13px;
  margin-left: 10px;
  margin-top: 7.0px;
  width: 150px;
}

.media .nav-menu-button {
  border-radius: 8px;
  display: flex;
  height: 40px;
  margin-left: 115px;
  overflow: hidden;
  width: 40px;
}

.media .menu {
  height: 24px;
  margin-left: 8px;
  margin-top: 8px;
  width: 24px;
}

.media .features-section {
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  height: 1124px;
}

.media .section {
  background-color: var(--gray-modern--503);
  display: flex;
  flex-direction: column;
  height: 884px;
  width: 100vw;
}

.media .container-1 {
  display: flex;
  margin-top: 64px;
  width: 100vw;
}

.media .content {
  display: flex;
  margin-left: 16px;
  width: calc(100vw - 32px);
}

.media .heading-and-supporting-text {
  display: flex;
  flex-direction: column;
  height: 328px;
  width: calc(100vw - 32px);
}

.media .heading-and-subheading {
  display: flex;
  flex-direction: column;
  height: 70px;
}

.media .subheading {
  color: var(--bdazzled-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}

.media .heading-1 {
  color: var(--gray900);
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  margin-top: 12px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}

.media .supporting-text {
  color: var(--gray500);
  font-weight: 400;
  height: 242px;
  line-height: 28px;
  margin-top: 16px;
}

.media .container-2 {
  align-self: center;
  display: flex;
  margin-top: 48px;
  width: 100vw;
}

.media .content-2 {
  display: flex;
  flex-direction: column;
  height: 332px;
  margin-left: 16px;
  width: calc(100vw - 32px);
}

.media .feature-text {
  display: flex;
  width: calc(100vw - 32px);
}

.media .featured-icon {
  background-color: var(--periwinkle);
  border-radius: 28px;
  display: flex;
  height: 46px;
  margin-left: -3px;
  margin-top: -3px;
  width: 46px;
}

.media .x2-layers {
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 20px;
}

.media .text-and-supporting-text {
  display: flex;
  flex-direction: column;
  height: 134px;
  margin-left: 13px;
  width: calc(100vw - 88px);
}

.media .text {
  color: var(--gray900);
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  margin-top: 6px;
  white-space: nowrap;
}

.media .supporting-text-1 {
  color: var(--gray500);
  font-weight: 400;
  height: 96px;
  line-height: 24px;
  margin-top: 4px;
}

.media .feature-text-1 {
  display: flex;
  margin-top: 40px;
  width: calc(100vw - 32px);
}

.media .zap {
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 20px;
}

.media .text-and-supporting-text-1 {
  display: flex;
  flex-direction: column;
  height: 158px;
  margin-left: 13px;
  width: calc(100vw - 88px);
}

.media .supporting-text-2 {
  color: var(--gray500);
  font-weight: 400;
  height: 120px;
  line-height: 24px;
  margin-top: 4px;
}

.media .section-1 {
  display: flex;
  width: 100vw;
}

.media .container-3 {
  display: flex;
  width: 100vw;
}

.media .content-3 {
  display: flex;
  height: 176px;
  margin-left: 16px;
  width: calc(100vw - 32px);
}

.media .image {
  background-position: 50% 50%;
  background-size: cover;
  margin-top: -64px;
  width: calc(100vw - 32px);
  object-fit: cover;
}

.media .footer {
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  height: 1209px;
}

.media .container-4 {
  display: flex;
  margin-top: 48px;
  width: 100vw;
}

.media .text-and-supporting-text-2 {
  display: flex;
  flex-direction: column;
  height: 192px;
  width: calc(100vw - 32px);
}

.media .text-3 {
  color: var(--gray900);
  font-weight: 500;
  height: 56px;
  line-height: 28px;
}

.media .supporting-text-3 {
  color: var(--gray500);
  font-weight: 400;
  height: 128px;
  line-height: 24px;
  margin-top: 8px;
}

.media .span1 {
  text-decoration: underline;
}

.media .container-5 {
  display: flex;
  flex-direction: column;
  height: 712px;
  margin-top: 48px;
  width: 100vw;
}

.media .footer-links-column {
  display: flex;
  flex-direction: column;
  height: 168px;
  width: 155.5px;
}

.media .heading {
  color: var(--gray400);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}

.media .footer-links-2 {
  display: flex;
  flex-direction: column;
  height: 132px;
  margin-top: 16px;
}

.media .footer-link-2 {
  display: flex;
  width: 40px;
}

.media .button-2 {
  display: flex;
  height: 24px;
  width: 40px;
}

.media .button-base-2 {
  display: flex;
  flex: 1;
  width: 40px;
}

.media .text-4 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 40px;
}

.media .footer-link {
  display: flex;
  margin-top: 12px;
  width: 69px;
}

.media .button {
  display: flex;
  height: 24px;
  width: 69px;
}

.media .button-base {
  display: flex;
  flex: 1;
  width: 69px;
}

.media .text-1 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 69px;
}

.media .footer-link-3 {
  display: flex;
  margin-top: 12px;
  width: 99px;
}

.media .button-3 {
  display: flex;
  height: 24px;
  width: 99px;
}

.media .button-base-3 {
  display: flex;
  flex: 1;
  width: 99px;
}

.media .text-5 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 99px;
}

.media .footer-link-4 {
  display: flex;
  margin-top: 12px;
  width: 82px;
}

.media .button-4 {
  display: flex;
  height: 24px;
  width: 82px;
}

.media .button-base-4 {
  display: flex;
  flex: 1;
  width: 82px;
}

.media .text-6 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 82px;
}

.media .footer-links-column-1 {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-left: 32px;
  width: 155.5px;
}

.media .footer-links-3 {
  display: flex;
  margin-top: 16px;
  width: 155.5px;
}

.media .footer-link-5 {
  display: flex;
  width: 160px;
}

.media .button-5 {
  display: flex;
  height: 24px;
  width: 160px;
}

.media .button-base-5 {
  display: flex;
  flex: 1;
  width: 160px;
}

.media .text-7 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 160px;
}

.media .content-1 {
  display: flex;
  margin-left: 16px;
  margin-top: 32px;
  width: calc(100vw - 32px);
}

.media .footer-links-column-2 {
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 155.5px;
}

.media .footer-links {
  display: flex;
  flex-direction: column;
  height: 204px;
  margin-top: 16px;
}

.media .footer-link-6 {
  display: flex;
  width: 118px;
}

.media .button-6 {
  display: flex;
  height: 24px;
  width: 118px;
}

.media .button-base-6 {
  display: flex;
  flex: 1;
  width: 118px;
}

.media .text-8 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 118px;
}

.media .footer-link-1 {
  display: flex;
  margin-top: 12px;
  width: 84px;
}

.media .button-1 {
  display: flex;
  height: 24px;
  width: 84px;
}

.media .button-base-1 {
  display: flex;
  flex: 1;
  width: 84px;
}

.media .text-2 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 84px;
}

.media .footer-link-7 {
  display: flex;
  margin-top: 12px;
  width: 52px;
}

.media .button-7 {
  display: flex;
  height: 24px;
  width: 52px;
}

.media .button-base-7 {
  display: flex;
  flex: 1;
  width: 52px;
}

.media .text-9 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 52px;
}

.media .footer-link-8 {
  display: flex;
  margin-top: 12px;
  width: 89px;
}

.media .button-8 {
  display: flex;
  height: 24px;
  width: 89px;
}

.media .button-base-8 {
  display: flex;
  flex: 1;
  width: 89px;
}

.media .text-10 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 89px;
}

.media .footer-link-9 {
  display: flex;
  margin-top: 12px;
  width: 67px;
}

.media .button-9 {
  display: flex;
  height: 24px;
  width: 67px;
}

.media .button-base-9 {
  display: flex;
  flex: 1;
  width: 67px;
}

.media .text-11 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 67px;
}

.media .footer-link-10 {
  display: flex;
  margin-top: 12px;
  width: 62px;
}

.media .button-10 {
  display: flex;
  height: 24px;
  width: 62px;
}

.media .button-base-10 {
  display: flex;
  flex: 1;
  width: 62px;
}

.media .text-12 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 62px;
}

.media .footer-links-column-3 {
  display: flex;
  flex-direction: column;
  height: 96px;
  margin-left: 32px;
  width: 155.5px;
}

.media .footer-links-1 {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-top: 16px;
}

.media .footer-link-11 {
  display: flex;
  width: 61px;
}

.media .button-11 {
  display: flex;
  height: 24px;
  width: 61px;
}

.media .button-base-11 {
  display: flex;
  flex: 1;
  width: 61px;
}

.media .text-13 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 61px;
}

.media .footer-link-12 {
  display: flex;
  margin-top: 12px;
  width: 93px;
}

.media .button-12 {
  display: flex;
  height: 24px;
  width: 93px;
}

.media .button-base-12 {
  display: flex;
  flex: 1;
  width: 93px;
}

.media .text-14 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 93px;
}

.media .footer-links-column-4 {
  display: flex;
  flex-direction: column;
  height: 96px;
  width: 155.5px;
}

.media .footer-link-13 {
  display: flex;
  width: 70px;
}

.media .button-13 {
  display: flex;
  height: 24px;
  width: 70px;
}

.media .button-base-13 {
  display: flex;
  flex: 1;
  width: 70px;
}

.media .text-15 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 70px;
}

.media .footer-link-14 {
  display: flex;
  margin-top: 12px;
  width: 43px;
}

.media .button-14 {
  display: flex;
  height: 24px;
  width: 43px;
}

.media .button-base-14 {
  display: flex;
  flex: 1;
  width: 43px;
}

.media .text-16 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 43px;
}

.media .footer-links-column-5 {
  display: flex;
  flex-direction: column;
  height: 240px;
  margin-left: 32px;
  width: 155.5px;
}

.media .footer-link-15 {
  display: flex;
  width: 42px;
}

.media .button-15 {
  display: flex;
  height: 24px;
  width: 42px;
}

.media .button-base-15 {
  display: flex;
  flex: 1;
  width: 42px;
}

.media .text-17 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 42px;
}

.media .footer-link-16 {
  display: flex;
  margin-top: 12px;
  width: 66px;
}

.media .button-16 {
  display: flex;
  height: 24px;
  width: 66px;
}

.media .button-base-16 {
  display: flex;
  flex: 1;
  width: 66px;
}

.media .text-18 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 66px;
}

.media .footer-link-17 {
  display: flex;
  margin-top: 12px;
  width: 88px;
}

.media .button-17 {
  display: flex;
  height: 24px;
  width: 88px;
}

.media .button-base-17 {
  display: flex;
  flex: 1;
  width: 88px;
}

.media .text-19 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 88px;
}

.media .footer-link-18 {
  display: flex;
  margin-top: 12px;
  width: 83px;
}

.media .button-18 {
  display: flex;
  height: 24px;
  width: 83px;
}

.media .button-base-18 {
  display: flex;
  flex: 1;
  width: 83px;
}

.media .text-20 {
  color: var(--gray500);
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: 83px;
}

.media .container-6 {
  display: flex;
  flex-direction: column;
  height: 113px;
  margin-top: 48px;
  width: 100vw;
}

.media .divider-1 {
  background-color: var(--mercury);
  height: 1px;
  margin-left: 16px;
  width: calc(100vw - 32px);
}

.media .content-4 {
  display: flex;
  flex-direction: column;
  height: 80px;
  margin-left: 16px;
  margin-top: 32px;
  width: calc(100vw - 32px);
}

.media .logo-1 {
  align-items: center;
  display: flex;
  min-width: 192px;
}

.media .footer-text {
  color: var(--gray400);
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  margin-top: 24px;
  white-space: nowrap;
}
