<div class="join-us screen">
  <div class="careers-section-ysj9e3">
    <div class="header-VIpO9m">
      <div class="content-8vNlKW">
        <div class="heading-and-supporting-text-XXH68R">
          <div class="heading-and-subheading-xebUWv">
            <div class="heading-EkGnef inter-semi-bold-mirage-36px">{{ 'volunteer.welcome_title' | translate }}</div>
          </div>
          <div class="our-philosophy-is-si-xebUWv text-xlnormal">
            {{ 'volunteer.welcome_text' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="main-content-VIpO9m">
      <div class="content-YknPxr">
        <div class="job-post-OAPD8Z">
          <div class="divider-gu2YWN"></div>
          <div class="content-gu2YWN">
            <div class="text-and-supporting-text-tpsmFp">
              <div class="text-and-badge-1DS7J1"><div class="text-vUwv6k text-lgmedium">{{ 'volunteer.drivers_title' | translate }}</div></div>
              <div class="supporting-text-1DS7J1 text-mdnormal">
                {{ 'volunteer.drivers_text1' | translate }}<br>
                <a href="https://www.facebook.com/groups/zeilenvanvrijheid">{{ 'volunteer.drivers_text2' | translate }}</a>
              </div>
            </div>
            <div class="details-tpsmFp">
              <div class="location-wrap-OcoBxk">
                <img class="map-pin-xdLX8P" src="assets/img/map-pin@2x.png" />
                <div class="location-xdLX8P text-mdmedium">{{ 'volunteer.drivers_departure' | translate }}</div>
              </div>
              <div class="type-of-work-wrap-OcoBxk">
                <img class="clock-txNnEG" src="assets/img/clock@2x.png" />
                <div class="type-of-work-txNnEG text-mdmedium">{{ 'volunteer.drivers_hours' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="job-post-hkmfqE">
          <div class="divider-dpIEJH"></div>
          <div class="content-dpIEJH">
            <div class="text-and-supporting-text-iM3Sos">
              <div class="text-and-badge-9C9cyg">
                <div class="text-Xjncy6 text-lgmedium">{{ 'volunteer.volunteers_title' | translate }}</div>
              </div>
              <div class="supporting-text-9C9cyg text-mdnormal">
                {{ 'volunteer.volunteers_text' | translate }}
              </div>
            </div>
            <div class="details-iM3Sos">
              <div class="location-wrap-YQq8xj">
                <img class="map-pin-vDjZhp" src="assets/img/map-pin@2x.png" />
                <div class="location-vDjZhp text-mdmedium">{{ 'volunteer.volunteers_location' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="job-post-w5qNpi">
          <div class="divider-DPwQI1"></div>
          <div class="content-DPwQI1">
            <div class="text-and-supporting-text-YODQPE">
              <div class="text-and-badge-gV8MXz">
                <div class="text-dlNE4g text-lgmedium">{{ 'volunteer.coordinators_title' | translate }}</div>
              </div>
              <div class="supporting-text-gV8MXz text-mdnormal">
                {{ 'volunteer.coordinators_text' | translate }}
              </div>
            </div>
            <div class="details-YODQPE">
              <div class="location-wrap-1Va57q">
                <img class="map-pin-ytUjF1" src="assets/img/map-pin@2x.png" />
                <div class="location-ytUjF1 text-mdmedium">{{ 'volunteer.online' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="job-post-bM66Wd">
          <div class="divider-RsoZuK"></div>
          <div class="content-RsoZuK">
            <div class="text-and-supporting-text-EYhhu1">
              <div class="text-and-badge-5oVLCI">
                <div class="text-uRneD3 text-lgmedium">{{ 'volunteer.assistants_title' | translate }}</div>
              </div>
              <div class="supporting-text-5oVLCI text-mdnormal">
                {{ 'volunteer.assistants_text' | translate }}
              </div>
            </div>
            <div class="details-EYhhu1">
              <div class="location-wrap-SGCalu">
                <img class="map-pin-PMTbzy" src="assets/img/map-pin@2x.png" />
                <div class="location-PMTbzy text-mdmedium">{{ 'volunteer.online' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="job-post-S6OwRL">
          <div class="divider-MqhyjE"></div>
          <div class="content-MqhyjE">
            <div class="text-and-supporting-text-GxPqLQ">
              <div class="text-and-badge-cXblAC">
                <div class="text-kXiasd text-lgmedium">{{ 'volunteer.specialists_title' | translate }}</div>
              </div>
              <div class="supporting-text-cXblAC text-mdnormal">
                {{ 'volunteer.specialists_text' | translate }}
              </div>
            </div>
            <div class="details-GxPqLQ">
              <div class="location-wrap-JIX2c9">
                <img class="map-pin-rlBJqk" src="assets/img/map-pin@2x.png" />
                <div class="location-rlBJqk text-mdmedium">{{ 'volunteer.online' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-YknPxr"><img class="image-XX4P4m" src="assets/img/image@1x.png" /></div>
    </div>
    <div class="cta-VIpO9m">
      <div class="content-RUJkIo">
        <div class="heading-and-supporting-text-FwRaaK">
          <div class="heading-2XrwBr display-smsemibold">{{ 'volunteer.help_title' | translate }}</div>
          <div class="supporting-text-2XrwBr text-xlnormal">
            {{ 'volunteer.help_text' | translate }}
          </div>
        </div>
        <div class="actions-FwRaaK">
          <div class="button-TWNguf">
            <div class="button-base-9IjAFD border-1px-primary500">
              <a class="text-Q7lXAk text-mdmedium" href="mailto:zeilenvanvrijheid@gmail.com" target="_blank">
                {{ 'volunteer.help_button' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

