<div class="partnerships screen">
  <div class="donate-ZrWxtJ">
    <div class="header-section-8y50bX">
      <div class="container-WlLoWd">
        <div class="heading-and-supporting-text-Wf6XMV">
          <div class="heading-and-action-EuFy3o"><div class="heading-HSmR3t">{{ 'partner-adopt.header' | translate }}</div></div>
          <div class="content-EuFy3o"><div class="supporting-text-BegXga text-xlnormal"></div></div>
        </div>
      </div>
    </div>
    <div class="partnerships-8y50bX">
      <div class="container-KiP0fF">
        <div class="content-gxEOhE">
          <div class="heading-and-supporting-text-xWtx27">
            <div class="heading-EexwAp">{{ 'partner-adopt.types_header' | translate }}</div>
            <div class="supporting-text-EexwAp text-xlnormal">
              {{ 'partner-adopt.types_text' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="container-Sz20EM">
        <div class="content-TZVcDJ">
          <div class="horizontal-tabs-QetwfQ">
            <div class="tab-button-base-Kuiqc7" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.All)"><div class="text-imEOcX text-mdmedium">{{ 'partner-adopt.view_all' | translate }}</div></div>
            <div class="tab-button-base-PDnWen" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.Adopt)">
              <div class="text-ht3x1R text-mdmedium">{{ 'partner-adopt.adopt_ambulance' | translate }}</div>
            </div>
            <div class="tab-button-base-FCqmj1" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.Donate)"><div class="text-aycWMe text-mdmedium">{{ 'partner-adopt.donate_kind' | translate }}</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="adopt-an-ambulance-8y50bX">
      <div class="section-saRw7q">
        <div class="container-jdkeww">
          <div class="content-JIYQLF">
            <div class="rich-text-uAD0iu">
              <div class="section-xo9aXi"><div class="heading-iAfi8z">{{ 'partner-adopt.adopt_an_ambulance_header' | translate }}</div></div>
              <div class="section-xSk7n8">
                <div class="intro-NRd6yA text-mdnormal">
                  {{ 'partner-adopt.adopt_an_ambulance_text' | translate }}
                </div>
                <img class="divider-NRd6yA" src="assets/img/divider-1@1x.png" />
              </div>
              <div class="section-vv3asF">
                <div class="paragraph-yeZMHj text-lgnormal">
                  {{ 'partner-adopt.contribution' | translate }}
                </div>
              </div>
              <div class="section-xZffvS">
                <div class="heading-6wKK01 display-smsemibold">{{ 'partner-adopt.benefits_header' | translate }}</div>
                <div class="paragraph-6wKK01 text-lgnormal">
                  <ul class="bullet-list" [innerHtml]="'partner-adopt.benefits_text' | translate"></ul>
                </div>
              </div>
              <div class="section-LlDNc0">
                <div class="heading-NfaUai display-xssemibold">{{ 'partner-adopt.example_header' | translate }}</div>
                <div class="paragraph-NfaUai text-lgnormal">
                  {{ 'partner-adopt.example_text' | translate }}
                </div>
              </div>
              <div class="rich-text-img-xo9aXi">
                <div class="image-NxA6gL"><img class="image-E8Hp8c" src="assets/img/example-execution.jpg" /></div>
              </div>
              <div class="blockquote-xo9aXi">
                <div class="left-border-ccKufb"></div>
                <div class="quote-wrap-ccKufb">
                  <div class="quote-69rRTn display-xsmedium-italic">
                    {{ 'partner-adopt.some_words_text' | translate }}
                  </div>
                  <div class="text-69rRTn text-mdnormal">{{ 'partner-adopt.some_words_signature' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-TVypJk">
          <div>
            <panning-container class="row" #panner="panning-container">
              <ng-container *ngFor="let item of items; index as i">
                <ng-container *panningItem>
                  <div class="item" [ngClass]="{ current: i === panner.currentIndex }">
                    <img class="image" src="{{item}}" height="800px" />
                  </div>
                </ng-container>
              </ng-container>
            </panning-container>
            <button (click)="panner.shift(-1)" class="btn btn-default col-xs-3">
              Prev
            </button>
            <button (click)="panner.shift(1)" class="btn btn-default col-xs-3">
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-section-8y50bX">
      <div class="container-cx8n0E">
        <div class="content-4OHriQ">
          <div class="heading-and-supporting-text-9XJZEr">
            <div class="heading-iYHi6W text-xlmedium">{{ 'partner-adopt.thanks_header' | translate }}</div>
            <div class="supporting-text-iYHi6W text-lgnormal">
              {{ 'partner-adopt.thanks_text' | translate }}
            </div>
          </div>
          <div class="actions-9XJZEr">
            <div class="button-QKw7Do">
              <div class="button-base-Ptv5JP">
                <a class="text-4gy3o8 text-mdmedium" href="mailto:info@zeilenvanvrijheid.nl" target="_blank">
                  {{ 'partner-adopt.thanks_button' | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

