<div class="partnerships screen">
  <div class="donate-ZrWxtJ">
    <div class="header-section-8y50bX">
      <div class="container-WlLoWd">
        <div class="heading-and-supporting-text-Wf6XMV">
          <div class="heading-and-action-EuFy3o"><div class="heading-HSmR3t">Partnerships that matter</div></div>
          <div class="content-EuFy3o"><div class="supporting-text-BegXga text-xlnormal"></div></div>
        </div>
      </div>
    </div>
    <div class="partnerships-8y50bX">
      <div class="container-KiP0fF">
        <div class="content-gxEOhE">
          <div class="heading-and-supporting-text-xWtx27">
            <div class="heading-EexwAp">Types of partnerships</div>
            <div class="supporting-text-EexwAp text-xlnormal">
              Zeilen Van Vrijheid works with corporate partners in the healthcare, medical devices, nonprofit, and
              automotive/auto parts sectors to provide vital support to Ukraine. Join our network of partners to
              help us maximise our impact.
            </div>
          </div>
        </div>
      </div>
      <div class="container-Sz20EM">
        <div class="content-TZVcDJ">
          <div class="horizontal-tabs-QetwfQ">
            <div class="tab-button-base-Kuiqc7" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.All)"><div class="text-imEOcX text-mdmedium">View all</div></div>
            <div class="tab-button-base-PDnWen" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.Adopt)">
              <div class="text-ht3x1R text-mdmedium">Adopt an ambulance</div>
            </div>
            <div class="tab-button-base-FCqmj1" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.Donate)"><div class="text-aycWMe text-mdmedium">Donate in kind</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="adopt-an-ambulance-8y50bX">
      <div class="section-saRw7q">
        <div class="container-jdkeww">
          <div class="content-JIYQLF">
            <div class="rich-text-uAD0iu">
              <div class="section-xo9aXi"><div class="heading-iAfi8z">Adopt-an-Ambulance</div></div>
              <div class="section-xSk7n8">
                <div class="intro-NRd6yA text-mdnormal">
                  Fundraise within your organisation, or allocate part of your budget to send an ambulance to
                  Ukraine in your company’s name.
                </div>
                <img class="divider-NRd6yA" src="assets/img/divider-1@1x.png" />
              </div>
              <div class="section-vv3asF">
                <div class="paragraph-yeZMHj text-lgnormal">
                  Your company can make a charitable contribution to Zeilen Van Vrijheid to purchase a used
                  ambulance and/or necessary lifesaving equipment. Our Foundation takes on all the required
                  sourcing, logistical, customs, and administrative activities to facilitate your contribution.<br />We
                  have multiple branding and media support options available. If you prefer to fundraise within your
                  organisation’s staff or clientele, we can help you with fundraising strategies and materials.
                </div>
              </div>
              <div class="section-xZffvS">
                <div class="heading-6wKK01 display-smsemibold">Benefits of this partnership:</div>
                <div class="paragraph-6wKK01 text-lgnormal">
                  Boost your brand’s image and social capital by showing that your company helps support Ukraine
                  with vital equipment in a time of war and humanitarian crisis.<br />Increase employee and customer
                  loyalty by showing your leadership’s caring and humanist stance.<br />Attract new clientele by
                  promoting your anti-war and pro-humanitarian stance.
                </div>
              </div>
              <div class="section-LlDNc0">
                <div class="heading-NfaUai display-xssemibold">Example execution</div>
                <div class="paragraph-NfaUai text-lgnormal">
                  Thanks to the generous donations of Xebia and GitNation, Zeilen Van Vrijheid purchased a used
                  ambulance, filled it with lifesaving equipment, and sent it directly to the Kyiv Regional
                  Children&#39;s Hospital in Boyarka. The ambulance was fully branded with Xebia’s logo (per our
                  agreement, GitNation forwent branding), received media support, and photo opportunities with the
                  hospital staff
                </div>
              </div>
              <div class="rich-text-img-xo9aXi">
                <div class="image-NxA6gL"><img class="image-E8Hp8c" src="assets/img/image@1x.png" /></div>
              </div>
              <div class="blockquote-xo9aXi">
                <div class="left-border-ccKufb"></div>
                <div class="quote-wrap-ccKufb">
                  <div class="quote-69rRTn display-xsmedium-italic">
                    “In a world older and more complete than ours they move finished and complete, gifted with
                    extensions of the senses we have lost or never attained, living by voices we shall never hear.”
                  </div>
                  <div class="text-69rRTn text-mdnormal">— Olivia Rhye, Product Designer at XXX</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-TVypJk">
          <div class="content-MRbvFg">
            <div class="images-L9BsrW">
              <div class="image-DI8FoZ"><img class="image-MM9S1j" src="assets/img/image-1@1x.png" /></div>
              <div class="image-fY14Es"><img class="image-iZ5u5a" src="assets/img/image-2@1x.png" /></div>
              <div class="image-2StTlQ"><img class="image-0haYSs" src="assets/img/image-3@1x.png" /></div>
            </div>
            <div class="arrows-L9BsrW">
              <div class="testiomonial-carousel-arrow-heJsMt">
                <img class="arrow-left-0XxHDm" src="assets/img/arrow-left@2x.png" />
              </div>
              <div class="testiomonial-carousel-arrow-LuVAfF">
                <img class="arrow-right-cdxLiW" src="assets/img/arrow-right@2x.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-section-8y50bX">
      <div class="container-cx8n0E">
        <div class="content-4OHriQ">
          <div class="heading-and-supporting-text-9XJZEr">
            <div class="heading-iYHi6W text-xlmedium">Thank you!</div>
            <div class="supporting-text-iYHi6W text-lgnormal">
              Thank you! If you or your organisation would like to make a large donation, we have sponsorship
              packages and media support available. You can reach out directly to our Co-Founder, Veronika Mutsei,
              to discuss your options.
            </div>
          </div>
          <div class="actions-9XJZEr">
            <div class="button-QKw7Do">
              <div class="button-base-Ptv5JP">
                <a class="text-4gy3o8 text-mdmedium" href="mailto:zeilenvanvrijheid@gmail.com" target="_blank">
                  Send email
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

