<div class="iphone-13-mini-4 screen">
  <div class="frame-2-3j8vJ0">
    <div class="careers-section-DUshD9">
      <div class="container-x22S6v">
        <div class="content-rnpu7S">
          <div class="heading-and-supporting-text-1GOcgf">
            <div class="heading-and-subheading-3NB4gB">
              <div class="heading-RPtXj5">Want to get involved? Welcome!</div>
            </div>
            <div class="our-philosophy-is-si-3NB4gB text-xlnormal">
              Zeilen Van Vrijheid is 100% volunteer-run, so our volunteers&#39; time and skills make our work
              possible. Check out our open volunteer opportunities below. If you have another idea on how you can
              help, please get in touch. We&#39;d love to hear from you!
            </div>
          </div>
        </div>
      </div>
      <div class="container-MDfveR">
        <div class="content-6d6nAB">
          <div class="job-post-F4cdDI">
            <div class="divider-99Qtuq"></div>
            <div class="content-99Qtuq">
              <div class="text-and-supporting-text-ufVSQ3">
                <div class="text-and-badge-MF4vlV"><div class="text-H3rZR3 text-lgmedium">Convoy Drivers</div></div>
                <div class="supporting-text-MF4vlV text-mdnormal">
                  Telegram link, google form<br />We are always looking for volunteers to drive our humanitarian
                  convoys to the Poland-Ukraine border. If you are an experienced driver with a category B license
                  or above and would like to drive with us, please get in touch. <br />Especially looking for
                  drivers ready to cross Ukraine border and category C driving license holders.
                </div>
              </div>
              <div class="details-ufVSQ3">
                <div class="location-wrap-RxKxqk">
                  <img class="icon-location_pin-xsx9Gx" src="assets/img/map-pin@2x.png" />
                  <div class="location-xsx9Gx text-mdmedium">Remote</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-1xTVVx">
            <div class="divider-H9NoXL"></div>
            <div class="content-H9NoXL">
              <div class="text-and-supporting-text-zgMBSP">
                <div class="text-and-badge-Sbadxz">
                  <div class="text-BY4LQd text-lgmedium">Warehouse Volunteers</div>
                </div>
                <div class="supporting-text-Sbadxz text-mdnormal">
                  Telegram link<br />Sorting, packing, and loading humanitarian aid is a monumental task. Would you
                  like to help? Our warehouse is located in &lt;location&gt; and just two hours of your time can
                  make a difference.
                </div>
              </div>
              <div class="details-zgMBSP">
                <div class="location-wrap-T7omVW">
                  <img class="icon-location_pin-OvNYnh" src="assets/img/map-pin@2x.png" />
                  <div class="location-OvNYnh text-mdmedium">Nieuwegein</div>
                </div>
                <div class="type-of-work-wrap-T7omVW"></div>
              </div>
            </div>
          </div>
          <div class="job-post-7b1UOB">
            <div class="divider-M0E5f6"></div>
            <div class="content-M0E5f6">
              <div class="text-and-supporting-text-BTRMRZ">
                <div class="text-and-badge-tW1JRT">
                  <div class="text-gBXIUl text-lgmedium">Medical Coordinators</div>
                </div>
                <div class="supporting-text-tW1JRT text-mdnormal">
                  We need support from people with experience in the healthcare, pharma, and medical devices
                  industries to help us liaise with our partners. Your help will be essential in sourcing vital
                  equipment.
                </div>
              </div>
              <div class="details-BTRMRZ">
                <div class="location-wrap-Ejfc2d">
                  <img class="icon-location_pin-BpOSmP" src="assets/img/map-pin@2x.png" />
                  <div class="location-BpOSmP text-mdmedium">Online</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-xYa1UX">
            <div class="divider-Rp7xxV"></div>
            <div class="content-Rp7xxV">
              <div class="text-and-supporting-text-okMjCH">
                <div class="text-and-badge-tYrFfn">
                  <div class="text-XJMIl8 text-lgmedium">Administrative Assistants</div>
                </div>
                <div class="supporting-text-tYrFfn text-mdnormal">
                  Do you have an eye for detail and impeccable organisational skills? We could really use your help
                  to arrange documents for our convoys and prepare everything for print.
                </div>
              </div>
              <div class="details-okMjCH">
                <div class="location-wrap-JHhOdk">
                  <img class="icon-location_pin-DGhl03" src="assets/img/map-pin@2x.png" />
                  <div class="location-DGhl03 text-mdmedium">Online</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-stxG6L">
            <div class="divider-U5llE9"></div>
            <div class="content-U5llE9">
              <div class="text-and-supporting-text-lsRH0Z">
                <div class="text-and-badge-WeYDlO">
                  <div class="text-roxLJO text-lgmedium">Marketing, PR, Design Specialists</div>
                </div>
                <div class="supporting-text-WeYDlO text-mdnormal">
                  Getting the word out about our work helps ensure that we can keep going! If you have marketing,
                  PR, web design, or print design skills and would like to volunteer your time, please get in touch.
                  There are always tasks available.
                </div>
              </div>
              <div class="details-lsRH0Z">
                <div class="location-wrap-EXACPk">
                  <img class="icon-location_pin-eWkDon" src="assets/img/map-pin@2x.png" />
                  <div class="location-eWkDon text-mdmedium">Online</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-GwF5rb">
        <div class="image-8z9a9F"><img class="image-wYc9bJ" src="assets/img/vol_image@2x.png" /></div>
      </div>
    </div>
    <div class="thank-you-DUshD9">
      <div class="content-dm4U6U">
        <div class="heading-and-supporting-text-lxSGXJ">
          <div class="heading-1YVKxf text-xlmedium">Thank you!</div>
          <div class="supporting-text-1YVKxf text-lgnormal">
            Thank you! If you or your organisation would like to make a large donation, we have sponsorship packages
            and media support available. You can reach out directly to our Co-Founder, Veronika Mutsei, to discuss
            your options.
          </div>
        </div>
        <div class="actions-lxSGXJ">
          <div class="button-6LU4sJ">
            <div class="button-base-6ykZxh">
              <a class="text-ycxD3x text-mdmedium" href="mailto:zeilenvanvrijheid@gmail.com" target="_blank">
                Send email
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

