<div class="iphone-13-mini-4 screen">
  <div class="frame-2-3j8vJ0">
    <div class="careers-section-DUshD9">
      <div class="container-x22S6v">
        <div class="content-rnpu7S">
          <div class="heading-and-supporting-text-1GOcgf">
            <div class="heading-and-subheading-3NB4gB">
              <div class="heading-RPtXj5">{{ 'volunteer_mobile.welcome_title' | translate }}</div>
            </div>
            <div class="our-philosophy-is-si-3NB4gB text-xlnormal">
              {{ 'volunteer_mobile.welcome_text' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="container-MDfveR">
        <div class="content-6d6nAB">
          <div class="job-post-F4cdDI">
            <div class="divider-99Qtuq"></div>
            <div class="content-99Qtuq">
              <div class="text-and-supporting-text-ufVSQ3">
                <div class="text-and-badge-MF4vlV"><div class="text-H3rZR3 text-lgmedium">{{ 'volunteer_mobile.drivers_title' | translate }}</div></div>
                <div class="supporting-text-MF4vlV text-mdnormal">
                  {{ 'volunteer_mobile.drivers_text1' | translate }}<br>
                  <a href="https://www.facebook.com/groups/zeilenvanvrijheid">{{ 'volunteer.drivers_text2' | translate }}</a>
                </div>
              </div>
              <div class="details-ufVSQ3">
                <div class="location-wrap-RxKxqk">
                  <img class="icon-location_pin-xsx9Gx" src="assets/img/map-pin@2x.png" />
                  <div class="location-xsx9Gx text-mdmedium">{{ 'volunteer_mobile.drivers_departure' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-1xTVVx">
            <div class="divider-H9NoXL"></div>
            <div class="content-H9NoXL">
              <div class="text-and-supporting-text-zgMBSP">
                <div class="text-and-badge-Sbadxz">
                  <div class="text-BY4LQd text-lgmedium">{{ 'volunteer_mobile.volunteers_title' | translate }}</div>
                </div>
                <div class="supporting-text-Sbadxz text-mdnormal">
                  {{ 'volunteer.volunteers_text1' | translate }}<br>
                  <a href="https://t.me/+zzdf_DvLV2s0OWE0">{{ 'volunteer.volunteers_text2' | translate }}</a>
                </div>
              </div>
              <div class="details-zgMBSP">
                <div class="location-wrap-T7omVW">
                  <img class="icon-location_pin-OvNYnh" src="assets/img/map-pin@2x.png" />
                  <div class="location-OvNYnh text-mdmedium">{{ 'volunteer_mobile.volunteers_location' | translate }}</div>
                </div>
                <div class="type-of-work-wrap-T7omVW"></div>
              </div>
            </div>
          </div>
          <div class="job-post-7b1UOB">
            <div class="divider-M0E5f6"></div>
            <div class="content-M0E5f6">
              <div class="text-and-supporting-text-BTRMRZ">
                <div class="text-and-badge-tW1JRT">
                  <div class="text-gBXIUl text-lgmedium">{{ 'volunteer_mobile.coordinators_title' | translate }}</div>
                </div>
                <div class="supporting-text-tW1JRT text-mdnormal">
                  {{ 'volunteer_mobile.coordinators_text' | translate }}
                </div>
              </div>
              <div class="details-BTRMRZ">
                <div class="location-wrap-Ejfc2d">
                  <img class="icon-location_pin-BpOSmP" src="assets/img/map-pin@2x.png" />
                  <div class="location-BpOSmP text-mdmedium">{{ 'volunteer_mobile.online' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-xYa1UX">
            <div class="divider-Rp7xxV"></div>
            <div class="content-Rp7xxV">
              <div class="text-and-supporting-text-okMjCH">
                <div class="text-and-badge-tYrFfn">
                  <div class="text-XJMIl8 text-lgmedium">{{ 'volunteer_mobile.assistants_title' | translate }}</div>
                </div>
                <div class="supporting-text-tYrFfn text-mdnormal">
                  {{ 'volunteer_mobile.assistants_text' | translate }}
                </div>
              </div>
              <div class="details-okMjCH">
                <div class="location-wrap-JHhOdk">
                  <img class="icon-location_pin-DGhl03" src="assets/img/map-pin@2x.png" />
                  <div class="location-DGhl03 text-mdmedium">{{ 'volunteer_mobile.online' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-stxG6L">
            <div class="divider-U5llE9"></div>
            <div class="content-U5llE9">
              <div class="text-and-supporting-text-lsRH0Z">
                <div class="text-and-badge-WeYDlO">
                  <div class="text-roxLJO text-lgmedium">{{ 'volunteer_mobile.specialists_title' | translate }}</div>
                </div>
                <div class="supporting-text-WeYDlO text-mdnormal">
                  {{ 'volunteer_mobile.specialists_text' | translate }}
                </div>
              </div>
              <div class="details-lsRH0Z">
                <div class="location-wrap-EXACPk">
                  <img class="icon-location_pin-eWkDon" src="assets/img/map-pin@2x.png" />
                  <div class="location-eWkDon text-mdmedium">{{ 'volunteer_mobile.online' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-GwF5rb">
        <div class="image-8z9a9F"><img class="image-wYc9bJ" src="assets/img/vol_image@2x.png" /></div>
      </div>
    </div>
    <div class="thank-you-DUshD9">
      <div class="content-dm4U6U">
        <div class="heading-and-supporting-text-lxSGXJ">
          <div class="heading-1YVKxf text-xlmedium">{{ 'volunteer_mobile.help_title' | translate }}</div>
          <div class="supporting-text-1YVKxf text-lgnormal">
            {{ 'volunteer_mobile.help_text' | translate }}
          </div>
        </div>
        <div class="actions-lxSGXJ">
          <div class="button-6LU4sJ">
            <div class="button-base-6ykZxh">
              <a class="text-ycxD3x text-mdmedium" href="mailto:zeilenvanvrijheid@gmail.com" target="_blank">
                {{ 'volunteer_mobile.help_button' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

