<div class="landing-mobile screen">
  <div class="landing-new-ready-mobile">
    <div class="hero-header-section">
      <div class="dropdown-header-navigation">
        <div class="overlap-group">
          <img
            class="divider"
            src="assets/img/divider@1x.svg"
          />
          <div class="header">
            <div class="container">
              <div class="logo" (click)="menuService.setMenuSelection(MenuSelection.Landing)">
                <img class="logomark" src="assets/img/logomark@2x.png" />
                <img class="logotype" src="assets/img/logotype@2x.png" />
              </div>
              <div class="container">
                <div class="dropdown-3">
                  <div mat-button [matMenuTriggerFor]="lang_menu" class="button-7">
                    <div class="button-base-7 border-1px-gray300">
                      <div class="text-2 text-smmedium">{{menuService.language}}</div>
                      <img class="chevron" src="assets/img/chevron-down@2x.png"/>
                    </div>
                  </div>
                  <mat-menu #lang_menu="matMenu">
                    <button mat-menu-item (click)="menuService.setLanguageSelection(Language.EN)">English</button>
                    <button mat-menu-item (click)="menuService.setLanguageSelection(Language.UA)">Ukranian</button>
                    <button mat-menu-item (click)="menuService.setLanguageSelection(Language.NL)">Dutch</button>
                  </mat-menu>
                </div>
                <button mat-button [matMenuTriggerFor]="menu">
                  <div class="nav-menu-button">
                    <img class="menu" src="assets/img/menu@2x.png"
                    />
                  </div>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">Volunteer</button>
                  <button mat-menu-item (click)="menuService.setMenuSelection(MenuSelection.Partner)">Sponsor an ambulance</button>
                  <button mat-menu-item (click)="menuService.setMenuSelection(MenuSelection.Media)">Media</button>
                  <button mat-menu-item (click)="menuService.setMenuSelection(MenuSelection.Reports)">Reports</button>
                  <button mat-menu-item (click)="menuService.setMenuSelection(MenuSelection.Request)">Request</button>
                  <button mat-menu-item (click)="menuService.setMenuSelection(MenuSelection.About)">About us</button>
                  <button mat-menu-item (click)="menuService.setMenuSelection(MenuSelection.Donate)">Donate</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
