/* screen - landing-mobile */

.landing-mobile {
  background-color: var(--basewhite);
  display: flex;
  height: 80px;
  min-height: 45px;
  min-width: 375px;
  overflow: hidden;
  width: 100%;
}

.landing-mobile .landing-new-ready-mobile {
  align-items: flex-start;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 70px;
}

.landing-mobile .hero-header-section {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 80px;
  width: 100%;
}

.landing-mobile .dropdown-header-navigation {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--basewhite);
  display: flex;
  min-width: 375px;
}

.landing-mobile .overlap-group {
  height: 72px;
  position: relative;
  width: 100%;
}

.landing-mobile .divider {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 71px;
  width: 100vw;
}

.landing-mobile .header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 72px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.landing-mobile .container {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding-left: 16px;
  padding-right: 12px;
}

.landing-mobile .logo {
  align-items: center;
  display: flex;
  min-width: 192px;
  cursor: grab;
}

.landing-mobile .logomark {
  height: 32px;
  width: 32px;
}

.landing-mobile .logotype {
  height: 13px;
  margin-left: 10px;
  margin-top: 7.0px;
  width: 150px;
}

.landing-mobile .nav-menu-button {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 40px;
  min-width: 40px;
  overflow: hidden;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.landing-mobile .menu {
  height: 24px;
  width: 24px;
}

.dropdown-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  height: 20px;
  width: 50px;
  padding-right: 20px;
}

.nav-menu-button-1 {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  position: absolute;
  top: 2px;
}

.menu {
  height: 24px;
  width: 24px;
}

.text-2 {
  color: var(--gray700);
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}

.button-base-7 {
  align-items: center;
  background-color: var(--basewhite);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
}

.button-7 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  gap: 0;
  cursor: grab;
}

.chevron {
  height: 20px;
  width: 20px;
}
