<div class="landing-mobile screen">
  <div class="landing-new-ready-mobile">
    <div class="hero-header-section">
      <div class="dropdown-header-navigation">
        <div class="overlap-group">
          <img
            class="divider"
            src="https://anima-uploads.s3.amazonaws.com/projects/62701dcf73a4a391408a94f7/releases/627d6452bf2b8ffcbbde9126/img/divider-1@2x.png"
          />
          <div class="header">
            <div class="container">
              <div class="logo" (click)="menuButtonClick(MenuSelection.Landing)">
                <img
                  class="logomark"
                  src="https://anima-uploads.s3.amazonaws.com/projects/62701dcf73a4a391408a94f7/releases/6270f7449a846f689b26942d/img/logomark@2x.png"
                />
                <img
                  class="logotype"
                  src="https://anima-uploads.s3.amazonaws.com/projects/62701dcf73a4a391408a94f7/releases/627d6452bf2b8ffcbbde9126/img/logotype@2x.png"
                />
              </div>
              <button mat-button [matMenuTriggerFor]="menu">
                <div class="nav-menu-button">
                  <img
                    class="menu"
                    src="https://anima-uploads.s3.amazonaws.com/projects/62701dcf73a4a391408a94f7/releases/627d6452bf2b8ffcbbde9126/img/menu@2x.png"
                  />
                </div>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="menuButtonClick(MenuSelection.Volunteer)">Volunteer</button>
                <button mat-menu-item (click)="menuButtonClick(MenuSelection.Partner)">Sponsor an ambulance</button>
                <button mat-menu-item (click)="menuButtonClick(MenuSelection.Media)">Media</button>
                <button mat-menu-item (click)="menuButtonClick(MenuSelection.Reports)">Reports</button>
                <button mat-menu-item (click)="menuButtonClick(MenuSelection.Request)">Request</button>
                <button mat-menu-item (click)="menuButtonClick(MenuSelection.About)">About us</button>
                <button mat-menu-item (click)="menuButtonClick(MenuSelection.Donate)">Donate</button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
