<div class="iphone-13-mini-1 screen">
  <div class="frame-2">
    <div class="header-section">
      <div class="container-1">
        <div class="content-1">
          <div class="heading-and-supporting-text">
            <div class="heading-and-subheading">
              <h1 class="heading-1 inter-semi-bold-mirage-36px">{{ 'partner-donate_mobile.header' | translate }}</h1>
            </div>
            <div class="supporting-text text-lgnormal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="careers-section">
      <div class="container-2">
        <div class="content-2">
          <div class="heading-and-supporting-text-1">
            <div class="heading-2 display-smsemibold">{{ 'partner-donate_mobile.types_header' | translate }}</div>
            <div class="supporting-text-1 text-xlnormal">
              {{ 'partner-donate_mobile.types_text' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="container-3">
        <div class="horizontal-tabs">
          <div class="input-dropdown">
            <div class="input-dropdown-base">
              <div class="input-with-label">
                <mat-form-field appearance="outline" style="width: calc(100vw - 32px);">
                  <mat-select [(value)]="selected" (selectionChange)="inputChange()" required>
                    <mat-option [value]=PartnerTabSelection.All>{{ 'partner-donate_mobile.view_all' | translate }}</mat-option>
                    <mat-option [value]=PartnerTabSelection.Adopt>{{ 'partner-donate_mobile.adopt_ambulance' | translate }}</mat-option>
                    <mat-option [value]=PartnerTabSelection.Donate>{{ 'partner-donate_mobile.donate_kind' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-4">
      <div class="rich-text">
        <div class="section"><div class="heading-3 inter-semi-bold-mirage-36px">{{ 'partner-donate_mobile.donate_header' | translate }}</div></div>
        <div class="section-1">
          <p class="intro text-mdnormal">
            {{ 'partner-donate_mobile.donate_text' | translate }}
          </p>
          <img
            class="divider-1"
            src="assets/img/divider@2x.png"
          />
        </div>
        <div class="section-2">
          <div class="paragraph text-lgnormal">
            {{ 'partner-donate_mobile.purchase' | translate }}
          </div>
        </div>
        <div class="section-3">
          <div class="heading-4 display-smsemibold">{{ 'partner-donate_mobile.benefits_header' | translate }}</div>
          <div class="paragraph-1 text-lgnormal">
            {{ 'partner-donate_mobile.benefits_text' | translate }}
          </div>
        </div>
        <div class="rich-text-img"></div>
        <div class="blockquote">
          <div class="left-border"></div>
          <div class="quote-wrap">
            <div class="quote display-xsmedium-italic">
              {{ 'partner-donate_mobile.some_words_text' | translate }}
            </div>
            <p class="text-2 text-mdnormal">{{ 'partner-donate_mobile.some_words_signature' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="images">
      <div class="image-gallery">
        <div class="content-5">
          <div class="images-1">
            <div class="image"></div>
            <div class="image-1">
              <img
                class="image-2"
                src="assets/img/image@2x.png"
              />
            </div>
            <div class="image-3"></div>
          </div>
          <div class="arrows">
            <div class="testiomonial-carousel-arrow border-1px-gray200">
              <img
                class="arrow-left"
                src="assets/img/arrow-left@2x.png"
              />
            </div>
            <div class="testiomonial-carousel-arrow border-1px-gray200">
              <img
                class="arrow-right"
                src="assets/img/arrow-right@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="thank-you">
      <div class="content-6">
        <div class="heading-and-supporting-text-2">
          <div class="heading-5 text-xlmedium">{{ 'partner-donate_mobile.thanks_header' | translate }}</div>
          <div class="supporting-text-2 text-lgnormal">
            {{ 'partner-donate_mobile.thanks_text' | translate }}
          </div>
        </div>
        <div class="actions">
          <div class="button-2">
            <div class="button-base-2">
              <a class="text-3 text-mdmedium" href="mailto:zeilenvanvrijheid@gmail.com" target="_blank">
                {{ 'partner-donate_mobile.thanks_button' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


