<div class="iphone-13-mini-1 screen">
  <div class="frame-2">
    <div class="header-section">
      <div class="container-1">
        <div class="content-1">
          <div class="heading-and-supporting-text">
            <div class="heading-and-subheading">
              <h1 class="heading-1 inter-semi-bold-mirage-36px">Partnerships that matter</h1>
            </div>
            <div class="supporting-text text-lgnormal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="careers-section">
      <div class="container-2">
        <div class="content-2">
          <div class="heading-and-supporting-text-1">
            <div class="heading-2 display-smsemibold">Types of partnerships</div>
            <div class="supporting-text-1 text-xlnormal">
              Zeilen Van Vrijheid works with corporate partners in the healthcare, medical devices, nonprofit, and
              automotive/auto parts sectors to provide vital support to Ukraine. Join our network of partners to
              help us maximise our impact.
            </div>
          </div>
        </div>
      </div>
      <div class="container-3">
        <div class="horizontal-tabs">
          <div class="input-dropdown">
            <div class="input-dropdown-base">
              <div class="input-with-label">
                <mat-form-field appearance="outline" style="width: calc(100vw - 32px);">
                  <mat-select [(value)]="selected" (selectionChange)="inputChange()" required>
                    <mat-option [value]=PartnerTabSelection.All>View all</mat-option>
                    <mat-option [value]=PartnerTabSelection.Adopt>View adopt</mat-option>
                    <mat-option [value]=PartnerTabSelection.Donate>View donate</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-4">
      <div class="rich-text">
        <div class="section"><div class="heading-3 inter-semi-bold-mirage-36px">Donate in kind</div></div>
        <div class="section-1">
          <p class="intro text-mdnormal">
            Our partners provide a significant amount of the humanitarian aid we send to Ukraine. We accept
            donations of medicines, medical equipment, vehicles, car parts, and pro-bono services.
          </p>
          <img
            class="divider-1"
            src="assets/img/divider@2x.png"
          />
        </div>
        <div class="section-2">
          <div class="paragraph text-lgnormal">
            Most of the vehicles we purchase on the secondary market come with little to no equipment. Additionally,
            we receive many requests for specific and expensive medical devices from hospitals in Ukraine. Our
            network of partners helps us cover some of these requests in kind, meaning that we save valuable funds
            and maximise the utility of every cent donated to our organisation.<br />The donations in kind we seek
            out the most include, but are not limited to: used vehicles (ambulances, fire trucks, armoured cash
            transport vehicles, other specialised vehicles), specialised car parts (ambulance stretchers, etc.),
            medicines, medical equipment, medical devices.<br />As our Foundation is 100% volunteer-led, we gladly
            accept pro-bono services from our partners in legal, media, and other industries. This helps us minimise
            our administrative overheads and ensure that each donation serves Ukraine directly.
          </div>
        </div>
        <div class="section-3">
          <div class="heading-4 display-smsemibold">Benefits of this partnership:</div>
          <div class="paragraph-1 text-lgnormal">
            Boost your brand’s image and social capital by showing that your company helps support Ukraine with
            vital equipment in a time of war and humanitarian crisis.<br />Increase employee and customer loyalty by
            showing your leadership’s caring and humanist stance.<br />Advertise your goods and/or services as part
            of a valuable humanitarian effort to help people in Ukraine.
          </div>
        </div>
        <div class="rich-text-img"></div>
        <div class="blockquote">
          <div class="left-border"></div>
          <div class="quote-wrap">
            <div class="quote display-xsmedium-italic">
              “In a world older and more complete than ours they move finished and complete, gifted with extensions
              of the senses we have lost or never attained, living by voices we shall never hear.”
            </div>
            <p class="text-2 text-mdnormal">— Olivia Rhye, Product Designer at XXX</p>
          </div>
        </div>
      </div>
    </div>
    <div class="images">
      <div class="image-gallery">
        <div class="content-5">
          <div class="images-1">
            <div class="image"></div>
            <div class="image-1">
              <img
                class="image-2"
                src="assets/img/image@2x.png"
              />
            </div>
            <div class="image-3"></div>
          </div>
          <div class="arrows">
            <div class="testiomonial-carousel-arrow border-1px-gray200">
              <img
                class="arrow-left"
                src="assets/img/arrow-left@2x.png"
              />
            </div>
            <div class="testiomonial-carousel-arrow border-1px-gray200">
              <img
                class="arrow-right"
                src="assets/img/arrow-right@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="thank-you">
      <div class="content-6">
        <div class="heading-and-supporting-text-2">
          <div class="heading-5 text-xlmedium">Thank you!</div>
          <div class="supporting-text-2 text-lgnormal">
            Thank you! If you or your organisation would like to make a large donation, we have sponsorship packages
            and media support available. You can reach out directly to our Co-Founder, Veronika Mutsei, to discuss
            your options.
          </div>
        </div>
        <div class="actions">
          <div class="button-2">
            <div class="button-base-2"><div class="text-3 text-mdmedium">Send email</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


