<div class="about screen">
  <div class="header-section-vRTBB9">
    <div class="container-s9vsxo">
      <div class="subheading-vocx5A text-mdsemibold">{{ 'about.header_small' | translate }}</div>
      <div class="heading-and-supporting-text-vocx5A">
        <div class="heading-and-action-uYmZpn"><div class="heading-pClM4z">{{ 'about.header_big' | translate }}</div></div>
        <div class="content-uYmZpn"></div>
      </div>
    </div>
  </div>
  <div class="contact-sections-vRTBB9">
    <div class="container-1NAPQR">
      <div class="content-7VjjUf">
        <div class="heading-and-supporting-text-yrbRUC">
          <div class="heading-and-badge-y231lt">
            <div class="heading-7EnGe6 inter-semi-bold-mirage-36px">{{ 'about.we_are_header' | translate }}</div>
          </div>
          <div class="supporting-text-y231lt text-xlnormal">
            {{ 'about.we_are_text' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="container-OYDlti">
      <div class="content-PHkUe8">
        <div class="rich-text-s8U18k">
          <div class="section-qOzo8a">
            <div class="heading-riTWvb display-smsemibold">{{ 'about.mission_header' | translate }}</div>
            <div class="paragraph-riTWvb text-lgnormal">
              {{ 'about.mission_text' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-kVC74y">
      <div class="content-MOzbrw">
        <div class="rich-text-BTYavD">
          <div class="section-erbFJL"><div class="heading-C7VERP display-smsemibold">{{ 'about.values' | translate }}</div></div>
        </div>
      </div>
    </div>
    <div class="container-bFLDo1">
      <div class="content-eUPUEy">
        <div class="contact-text-enFsZC">
          <div class="content-mm21Xx">
            <div class="text-and-supporting-text-Fzwy18">
              <div class="text-wefxO9 text-xlmedium">{{ 'about.transparency_header' | translate }}</div>
              <div class="supporting-text-wefxO9 text-mdnormal">
                {{ 'about.transparency_text' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="contact-text-sjbSTf">
          <div class="content-5BOExo">
            <div class="text-and-supporting-text-A1CQxp">
              <div class="text-hnRtxH text-xlmedium">{{ 'about.efficiency_header' | translate }}</div>
              <div class="supporting-text-hnRtxH text-mdnormal">
                {{ 'about.efficiency_text' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="contact-text-KqYxIH">
          <div class="content-YuLGoK">
            <div class="text-and-supporting-text-QPf8A2">
              <div class="text-kT9r7r text-xlmedium">{{ 'about.value_header' | translate }}</div>
              <div class="supporting-text-kT9r7r text-mdnormal">
                {{ 'about.value_text' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-Vt196p">
        <div class="image-DGNFdg"><img class="image-uTrvYI" src="assets/img/image@1x.png" /></div>
      </div>
    </div>
    <div class="team-section-1NAPQR" id="team">
      <div class="container-2AqpXN">
        <div class="content-xs7F9v">
          <div class="heading-and-supporting-text-39nkBk">
            <div class="heading-and-subheading-HaMEHs">
              <div class="subheading-SL1u5N text-mdsemibold">{{ 'about.team' | translate }}</div>
              <div class="heading-SL1u5N inter-semi-bold-mirage-36px">{{ 'about.people' | translate }}</div>
            </div>
            <div class="supporting-text-HaMEHs text-xlnormal">
              {{ 'about.foundation' | translate }}
            </div>
          </div>
          <div class="actions-39nkBk">
            <div class="button-TGUtvg" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
              <div class="button-base-3VRKXQ border-1px-primary500">
                <div class="text-Y01Zo5 text-mdmedium">{{ 'about.join' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-QFDPWM">
        <div class="content-BjW024">
          <div class="team-member-jiCoDV">
            <div class="image-76XOxK"><img class="image-tG8QyA" src="assets/img/image-1@2x.png" /></div>
            <div class="name-and-role-76XOxK">
              <div class="name-vwiI2l text-xlmedium">{{ 'about.member1_name' | translate }}</div>
              <div class="role-vwiI2l text-lgnormal">{{ 'about.member1_title' | translate }}</div>
            </div>
          </div>
          <div class="team-member-RCWNwY">
            <div class="image-6sNdCH"><img class="image-w9dG7f" src="assets/img/image-2@2x.png" /></div>
            <div class="name-and-role-6sNdCH">
              <div class="name-1IlgJZ text-xlmedium">{{ 'about.member2_name' | translate }}</div>
              <div class="role-1IlgJZ text-lgnormal">{{ 'about.member2_title' | translate }}</div>
            </div>
          </div>
          <div class="team-member-dWBzPd">
            <div class="image-5qqOi9"><img class="image-ltmKDv" src="assets/img/image-3@2x.png" /></div>
            <div class="name-and-role-5qqOi9">
              <div class="name-DdBZdm text-xlmedium">{{ 'about.member3_name' | translate }}</div>
              <div class="role-DdBZdm text-lgnormal">{{ 'about.member3_title' | translate }}</div>
            </div>
          </div>
          <div class="team-member-36ccTM">
            <div class="image-iFOmBp"><img class="image-MIyAXx" src="assets/img/image-4@2x.png" /></div>
            <div class="name-and-role-iFOmBp">
              <div class="name-pKQcUX text-xlmedium">{{ 'about.member4_name' | translate }}</div>
              <div class="role-pKQcUX text-lgnormal">{{ 'about.member4_title' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="content-09Ym56">
          <div class="team-member-IIxuxj">
            <div class="image-czIaAl"><img class="image-EiWcOj" src="assets/img/image-5@2x.png" /></div>
            <div class="name-and-role-czIaAl">
              <div class="name-JzUtUt text-xlmedium">{{ 'about.member5_name' | translate }}</div>
              <div class="role-JzUtUt text-lgnormal">{{ 'about.member5_title' | translate }}</div>
            </div>
          </div>
          <div class="team-member-y115QA">
            <div class="image-ftpkst"><img class="image-jmLwGk" src="assets/img/image-6@2x.png" /></div>
            <div class="name-and-role-ftpkst">
              <div class="name-KstGml text-xlmedium">{{ 'about.member6_name' | translate }}</div>
              <div class="role-KstGml text-lgnormal">{{ 'about.member6_title' | translate }}</div>
            </div>
          </div>
          <div class="team-member-XOlMjn">
            <div class="image-ABWxKX"><img class="image-zJyJmN" src="assets/img/image-7@2x.png" /></div>
            <div class="name-and-role-ABWxKX">
              <div class="name-sGVcYf text-xlmedium">{{ 'about.member7_name' | translate }}</div>
              <div class="role-sGVcYf text-lgnormal">{{ 'about.member7_title' | translate }}</div>
            </div>
          </div>
          <div class="team-member-1jE2Rd">
            <div class="image-Yvc8xb"><img class="image-CtvI0I" src="assets/img/image-7@2x.png" /></div>
            <div class="name-and-role-Yvc8xb">
              <div class="name-j0jxNn text-xlmedium">{{ 'about.member8_name' | translate }}</div>
              <div class="role-j0jxNn text-lgnormal">{{ 'about.member8_title' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-3-1NAPQR" id="volunteers">
      <div class="container-SaHrLW">
        <div class="content-fATgAe">
          <div class="heading-and-supporting-text-2AxsRM">
            <div class="heading-and-subheading-58fJvx">
              <div class="heading-xYYFpv inter-semi-bold-mirage-36px">{{ 'about.volunteers' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="quote-section-SaHrLW">
        <div class="section-DhGX8O">
          <div class="container-VHcALx">
            <div class="content-j3ZnOY">
              <div class="quote-JfM0K7">
                {{ 'about.some_words_text' | translate }}
              </div>
              <div class="attribution-and-arrows-JfM0K7">
                <div class="text-and-supporting-text-uO2oV6">
                  <div class="text-5zpSSw text-lgmedium">{{ 'about.some_words_signature' | translate }}</div>
                  <div class="supporting-text-5zpSSw text-mdnormal">{{ 'about.procurement' | translate }}</div>
                </div>
                <div class="arrows-uO2oV6">
                  <div class="testiomonial-carousel-arrow-hvsDqF border-1px-gray200">
                    <img class="arrow-left-VQK8OS" src="assets/img/arrow-left@2x.png" />
                  </div>
                  <div class="testiomonial-carousel-arrow-vT1CeJ border-1px-gray200">
                    <img class="arrow-right-VNK6NG" src="assets/img/arrow-right@2x.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-DhGX8O">
          <img class="image-FxONxf" src="assets/img/image-9@1x.png" />
        </div>
      </div>
    </div>
    <div class="how-you-can-help-1NAPQR">
      <div class="container-FvTqUl">
        <div class="content-ZpFGAy">
          <div class="heading-and-supporting-text-DzX0ov">
            <div class="heading-tzbDT2 inter-semi-bold-mirage-36px">{{ 'about.join_mission' | translate }}</div>
          </div>
        </div>
        <div class="row-ZpFGAy">
          <div class="blog-post-card-eEixY9">
            <img class="image-3QIoCU" src="assets/img/image@3x.jpg" />
            <div class="content-3QIoCU">
              <div class="heading-and-text-1pXcj2">
                <div class="heading-NKVd3h display-xssemibold">{{ 'about.donate_header' | translate }}</div>
                <div class="supporting-text-NKVd3h text-mdnormal">
                  {{ 'about.donate_text' | translate }}
                </div>
              </div>
              <div class="button-1pXcj2">
                <div class="button-base-xwvRep">
                  <div class="text-rtbmk5 text-mdmedium">{{ 'about.donate_button' | translate }}</div>
                  <img class="arrow-up-right-rtbmk5" src="assets/img/arrow-up-right@2x.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-card-QxxHTn">
            <div class="image-x07FVa"><img class="image-W8xI40" src="assets/img/image-10@2x.png" /></div>
            <div class="content-x07FVa">
              <div class="heading-and-text-cRx3lS">
                <div class="heading-c8nBuP display-xssemibold">{{ 'about.volunteers_header' | translate }}</div>
                <div class="supporting-text-c8nBuP text-mdnormal">
                  {{ 'about.volunteers_text' | translate }}
                </div>
              </div>
              <div class="button-cRx3lS">
                <div class="button-base-yMjhqD">
                  <div class="text-wRZG5I text-mdmedium">{{ 'about.volunteers_button' | translate }}</div>
                  <img class="arrow-up-right-wRZG5I" src="assets/img/arrow-up-right@2x.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-card-7k4bkP">
            <div class="image-RnSxhm"><img class="image-5psJ7X" src="assets/img/image-11@2x.png" /></div>
            <div class="content-RnSxhm">
              <div class="heading-and-text-2Ds66U">
                <div class="heading-Xi4seY display-xssemibold">{{ 'about.adopt_header' | translate }}</div>
                <div class="supporting-text-Xi4seY text-mdnormal">
                  {{ 'about.adopt_text' | translate }}
                </div>
              </div>
              <div class="button-2Ds66U">
                <div class="button-base-hyWhXS">
                  <div class="text-hxZmtJ text-mdmedium">{{ 'about.adopt_button' | translate }}</div>
                  <img class="arrow-up-right-hxZmtJ" src="assets/img/arrow-up-right@2x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-4-FvTqUl">
        <div class="group-3-TWx9zm">
          <div class="background-overlap-Dx6JWf"></div>
          <div class="container-Dx6JWf">
            <div class="content-VW7xlE">
              <div class="heading-and-supporting-text-jv4gTi">
                <div class="heading-teN9Li display-smsemibold">{{ 'about.reports_header' | translate }}</div>
                <div class="supporting-text-teN9Li text-xlnormal">
                  {{ 'about.reports_text' | translate }}
                </div>
              </div>
              <div class="actions-jv4gTi">
                <div class="button-qZdgE6" (click)="menuService.setMenuSelection(MenuSelection.Reports)">
                  <div class="button-base-N1TTXo border-1px-primary500">
                    <div class="text-NFW5nl text-mdmedium">{{ 'about.reports_button' | translate }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-4IK5MT">
      <div class="content-klFV7M">
        <div class="images-xI5IrL">
          <div class="image-EG67cw"><img class="image-FZlLKM" src="assets/img/image-1@1x.png" /></div>
          <div class="image-ys9huM"><img class="image-f4gYiz" src="assets/img/image-2@1x.png" /></div>
          <div class="image-pfiIAc"><img class="image-RqZPqD" src="assets/img/image-3@1x.png" /></div>
        </div>
        <div class="arrows-xI5IrL">
          <div class="testiomonial-carousel-arrow-heJsMt">
            <img class="arrow-left-x6YawL" src="assets/img/arrow-left@2x.png" />
          </div>
          <div class="testiomonial-carousel-arrow-LuVAfF">
            <img class="arrow-right-0OtfuE" src="assets/img/arrow-right@2x.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="container-aGFvsK">
      <div class="content-p3tXgk">
        <div class="rich-text-MIkmor">
          <div class="section-IYxVeb"><div class="heading-QRa8Wk display-smsemibold">{{ 'about.drivers' | translate }}</div></div>
        </div>
      </div>
    </div>
  </div>
</div>

