<div class="partnerships screen">
  <div class="donate-ZrWxtJ">
    <div class="header-section-8y50bX">
      <div class="container-WlLoWd">
        <div class="heading-and-supporting-text-Wf6XMV">
          <div class="heading-and-action-EuFy3o"><div class="heading-HSmR3t">{{ 'partner-donate.header' | translate }}</div></div>
          <div class="content-EuFy3o"><div class="supporting-text-BegXga text-xlnormal"></div></div>
        </div>
      </div>
    </div>
    <div class="partnerships-8y50bX">
      <div class="container-KiP0fF">
        <div class="content-gxEOhE">
          <div class="heading-and-supporting-text-xWtx27">
            <div class="heading-EexwAp">{{ 'partner-donate.types_header' | translate }}</div>
            <div class="supporting-text-EexwAp text-xlnormal">
              {{ 'partner-donate.types_text' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="container-Sz20EM">
        <div class="content-TZVcDJ">
          <div class="horizontal-tabs-QetwfQ">
            <div class="tab-button-base-Kuiqc7" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.All)"><div class="text-imEOcX text-mdmedium">{{ 'partner-donate.view_all' | translate }}</div></div>
            <div class="tab-button-base-PDnWen" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.Adopt)">
              <div class="text-ht3x1R text-mdmedium">{{ 'partner-donate.adopt_ambulance' | translate }}</div>
            </div>
            <div class="tab-button-base-FCqmj1" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.Donate)"><div class="text-aycWMe text-mdmedium">{{ 'partner-donate.donate_kind' | translate }}</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="adopt-an-ambulance-8y50bX">
      <div class="section-saRw7q">
        <div class="container-jdkeww">
          <div class="content-JIYQLF">
            <div class="rich-text-uAD0iu">
              <div class="section-xo9aXi"><div class="heading-iAfi8z">{{ 'partner-donate.donate_header' | translate }}</div></div>
              <div class="section-xSk7n8">
                <div class="intro-NRd6yA text-mdnormal">
                  {{ 'partner-donate.donate_text' | translate }}
                </div>
                <img class="divider-NRd6yA" src="assets/img/divider-1@1x.png" />
              </div>
              <div class="section-vv3asF">
                <div class="paragraph-yeZMHj text-lgnormal">
                  {{ 'partner-donate.purchase' | translate }}
                </div>
              </div>
              <div class="section-xZffvS">
                <div class="heading-6wKK01 display-smsemibold">{{ 'partner-donate.benefits_header' | translate }}</div>
                <div class="paragraph-6wKK01 text-lgnormal">
                  {{ 'partner-donate.benefits_text' | translate }}
                </div>
              </div>
              <div class="rich-text-img-xo9aXi">
                <div class="image-NxA6gL"><img class="image-E8Hp8c" src="assets/img/image@1x.png" /></div>
              </div>
              <div class="blockquote-xo9aXi">
                <div class="left-border-ccKufb"></div>
                <div class="quote-wrap-ccKufb">
                  <div class="quote-69rRTn display-xsmedium-italic">
                    {{ 'partner-donate.some_words_text' | translate }}
                  </div>
                  <div class="text-69rRTn text-mdnormal">{{ 'partner-donate.some_words_signature' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-TVypJk">
          <div class="content-MRbvFg">
            <div class="images-L9BsrW">
              <div class="image-DI8FoZ"><img class="image-MM9S1j" src="assets/img/image-1@1x.png" /></div>
              <div class="image-fY14Es"><img class="image-iZ5u5a" src="assets/img/image-2@1x.png" /></div>
              <div class="image-2StTlQ"><img class="image-0haYSs" src="assets/img/image-3@1x.png" /></div>
            </div>
            <div class="arrows-L9BsrW">
              <div class="testiomonial-carousel-arrow-heJsMt">
                <img class="arrow-left-0XxHDm" src="assets/img/arrow-left@2x.png" />
              </div>
              <div class="testiomonial-carousel-arrow-LuVAfF">
                <img class="arrow-right-cdxLiW" src="assets/img/arrow-right@2x.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-section-8y50bX">
      <div class="container-cx8n0E">
        <div class="content-4OHriQ">
          <div class="heading-and-supporting-text-9XJZEr">
            <div class="heading-iYHi6W text-xlmedium">{{ 'partner-donate.thanks_header' | translate }}</div>
            <div class="supporting-text-iYHi6W text-lgnormal">
              {{ 'partner-donate.thanks_text' | translate }}
            </div>
          </div>
          <div class="actions-9XJZEr">
            <div class="button-QKw7Do">
              <div class="button-base-Ptv5JP">
                <a class="text-4gy3o8 text-mdmedium" href="mailto:zeilenvanvrijheid@gmail.com" target="_blank">
                  {{ 'partner-donate.thanks_button' | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
