<div class="donate screen">
  <div class="donate-HR21sU">
    <div class="header-section-i1xz6i">
      <div class="container-x7j1zj">
        <div class="heading-and-supporting-text-fp8TXx">
          <div class="heading-and-action-vCKEmj">
            <div class="heading-fFImJp inter-semi-bold-mirage-48px">
              {{ 'donate.header1' | translate }}<br><br>
              {{ 'donate.header2' | translate }}
            </div>
          </div>
          <div class="content-vCKEmj">
            <div class="supporting-text-Dt89iJ text-xlnormal">
              {{ 'donate.header_text' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="donations-i1xz6i">
      <div class="container-vf7lPW">
        <div class="content-xvLkCT">
          <div class="heading-and-supporting-text-wl4Xmo">
            <div class="supporting-text-L0QQzt text-xlnormal">
              {{ 'donate.organization' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="container-Hnx7bL">
        <div class="content-JXbsmM">
          <div class="job-post-PFOx4Z">
            <div class="divider-IwJFML"></div>
            <div class="content-IwJFML">
              <div class="text-and-supporting-text-vUVheD">
                <div class="text-and-badge-vmRElE">
                  <div class="text-LR1rE1 text-lgmedium">
                    {{ 'donate.credit_card' | translate }}
                  </div>
                </div>
                <div class="supporting-text-vmRElE text-mdnormal">{{ 'donate.credit_card_link' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="job-post-w5CCOU">
            <div class="divider-5dz76u"></div>
            <div class="content-5dz76u">
              <div class="text-and-supporting-text-DTUVfF">
                <div class="text-and-badge-yRD4nM">
                  <div class="text-u9hyfm text-lgmedium">{{ 'donate.join_donors' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="gofundme-PFOx4Z">
            <img class="screenshot-2022-04-13-at-1551-2-nbFsXk" src="assets/img/screenshot-2022-04-13-at-15-51-2@2x.png" />
            <img class="screenshot-2022-04-13-at-1551-1-nbFsXk" src="assets/img/screenshot-2022-04-13-at-15-51-2@2x.png" />
          </div>
          <div class="job-post-HpwKBO">
            <div class="divider-eLys3q"></div>
            <div class="content-eLys3q">
              <div class="text-and-supporting-text-xrPiMD">
                <div class="text-and-badge-0f9yq6">
                  <div class="text-oGFsqn text-lgmedium">
                    {{ 'donate.donate_other1' | translate }}<br />
                    {{ 'donate.donate_other2' | translate }}
                  </div>
                </div>
                <div class="supporting-text-0f9yq6 text-mdbold">
                      <span class="span0-Fwot0C text-mdbold">IBAN</span
                      ><span class="span1-Fwot0C text-mdnormal">: NL 51 BUNQ 2068 8159 23<br /></span
                ><span class="span2-Fwot0C text-mdbold">{{ 'donate.name' | translate }}</span
                ><span class="span3-Fwot0C text-mdnormal"> Zeilen van Vrijheid<br /></span
                ><span class="span4-Fwot0C text-mdbold">BIC/SWIFT:</span
                ><span class="span5-Fwot0C text-mdnormal"> BUNQNL2AXXX</span>
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-fhfjWb">
            <div class="divider-XzxX5p"></div>
            <div class="content-XzxX5p">
              <div class="text-and-supporting-text-Ffngee">
                <div class="text-and-badge-jaaxky">
                  <div class="text-iRw3fQ text-lgmedium">{{ 'donate.paypal' | translate }}</div>
                </div>
                <div class="supporting-text-jaaxky text-mdnormal">zeilenvanvrijheid@gmail.com</div>
              </div>
            </div>
          </div>
          <div class="job-post-GE8PKA">
            <div class="divider-NGL99U"></div>
            <div class="content-NGL99U">
              <div class="text-and-supporting-text-zKOwVQ">
                <div class="text-and-badge-et9GXd"><div class="text-zwR3lP text-lgmedium">ETH</div></div>
                <div class="supporting-text-et9GXd text-mdnormal">0x244BEcDb7ea4D9Da101478d79fD3fFc5e7b8DD16</div>
              </div>
            </div>
          </div>
          <div class="job-post-CuxNcv">
            <div class="divider-VAeoBx"></div>
            <div class="content-VAeoBx">
              <div class="text-and-supporting-text-svrR8y">
                <div class="text-and-badge-wqjGtP">
                  <div class="text-Wlid7K text-lgmedium">BTC</div>
                  <div class="badge-Wlid7K"></div>
                </div>
                <div class="supporting-text-wqjGtP text-mdnormal">
                  bc1qgyq6qhvhfekkkf3gtpehvsztqtz0yg68d7dqzazr9qqexenl3wtq536hs3
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-section-vf7lPW">
        <div class="container-smzWnz">
          <div class="content-ayP2AE">
            <div class="faq-item-TyFCIN">
              <div class="content-0iKRQV">
                <div class="text-and-supporting-text-dRje7U">
                  <div class="text-U0K5oj text-lgmedium">{{ 'donate.dutch_resident_header' | translate }}</div>
                  <div class="supporting-text-U0K5oj text-mdnormal">
                    {{ 'donate.dutch_resident_text' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-IxNIUB">
          <div class="content-rwKYQG">
            <div class="heading-and-supporting-text-zfb2jA">
              <div class="heading-xKORTU text-xlmedium">{{ 'donate.thanks_header' | translate }}</div>
              <div class="supporting-text-xKORTU text-lgnormal">
                {{ 'donate.thanks_text' | translate }}
              </div>
            </div>
            <div class="actions-zfb2jA">
              <div class="button-VKiejA">
                <div class="button-base-1h6SlI border-1px-primary500">
                    <a class="text-mHPAge text-mdmedium" href="mailto:zeilenvanvrijheid@gmail.com" target="_blank">
                      {{ 'donate.thanks_button' | translate }}
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
