
.donate {
  background-color: var(--basewhite);
  height: 100vh;
  margin: 0px;
  min-height: 2177px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.donate .donate-HR21sU {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
}

.donate .dropdown-header-navigation-i1xz6i {
  background-color: var(--basewhite);
  height: 80px;
  mix-blend-mode: normal;
  position: relative;
  width: 1440px;
}

.donate .divider-25bxWv {
  background-color: transparent;
  height: 1px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 100%;
}

.donate .header-25bxWv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 80px;
  justify-content: center;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.donate .container-BoJmwL {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  min-height: 44px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 1280px;
}

.donate .content-ICBif8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  min-height: 32px;
  min-width: 771px;
  position: relative;
}

.donate .logo-MgYbNw {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 192px;
}

.donate .logomark-8zxYKR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16.67%;
}

.donate .logotype-8zxYKR {
  background-color: transparent;
  height: 40.62%;
  left: 21.88%;
  mix-blend-mode: normal;
  position: absolute;
  top: 40.62%;
  width: 78.12%;
}

.donate .navigation-MgYbNw {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  min-height: 32px;
  min-width: 539px;
  position: relative;
}

.donate .button-8R1luJ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 74px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-KWeOQZ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 74px;
  position: relative;
}

.donate .text-BuqEPI {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .dropdown-header-navigation-trigger-8R1luJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 32px;
  min-width: 160px;
  padding-bottom: 4px;
  padding-top: 4px;
  position: relative;
}

.donate .button-SShxvx {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 160px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-lZHTew {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 160px;
  position: relative;
}

.donate .text-xDSp5x {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .dropdown-header-navigation-trigger-7SrjOA {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 32px;
  min-width: 61px;
  padding-bottom: 4px;
  padding-top: 4px;
  position: relative;
}

.donate .button-xDxxk4 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-gXNLNm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 61px;
  position: relative;
}

.donate .text-Gi0qPm {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .button-7SrjOA {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-XnqSlH {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 47px;
  position: relative;
}

.donate .text-Zxrrr4 {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .button-base-8R1luJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 69px;
  position: relative;
}

.donate .text-8w0Lk7 {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .navigation-actions-ICBif8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  min-height: 44px;
  min-width: 128px;
  position: relative;
}

.donate .button-qPTL72 {
  background-color: transparent;
  border-radius: 8px;
  min-height: 44px;
  min-width: 128px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .header-section-i1xz6i {
  align-items: center;
  background-color: var(--sunglow);
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  min-height: 324px;
  mix-blend-mode: normal;
  padding-bottom: 96px;
  padding-top: 96px;
  position: relative;
  width: 1440px;
}

.donate .container-x7j1zj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  min-height: 132px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 1280px;
}

.donate .heading-and-supporting-text-fp8TXx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 64px;
  justify-content: flex-start;
  min-height: 132px;
  position: relative;
}

.donate .heading-and-action-vCKEmj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  min-height: 96px;
  position: relative;
  width: 768px;
}

.donate .heading-fFImJp {
  align-self: stretch;
  background-color: transparent;
  height: 96px;
  letter-spacing: -0.96px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 768px;
}

.donate .content-vCKEmj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 132px;
  padding-top: 12px;
  position: relative;
}

.donate .supporting-text-Dt89iJ {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 400;
  height: 120px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 384px;
}

.donate .donations-i1xz6i {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 1721px;
  justify-content: flex-start;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  padding-bottom: 96px;
  padding-top: 96px;
  position: relative;
}

.donate .container-vf7lPW {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  min-height: 60px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 1280px;
}

.donate .content-xvLkCT {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .heading-and-supporting-text-wl4Xmo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
  width: 768px;
}

.donate .supporting-text-L0QQzt {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 400;
  height: 60px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 768px;
}

.donate .container-Hnx7bL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  min-height: 991px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 1280px;
}

.donate .content-JXbsmM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  min-height: 991px;
  position: relative;
  width: 768px;
}

.donate .job-post-PFOx4Z {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 85px;
  position: relative;
  width: 768px;
}

.donate .divider-IwJFML {
  align-self: stretch;
  background-color: var(--gray200);
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .content-IwJFML {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .text-and-supporting-text-vUVheD {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .text-and-badge-vmRElE {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 28px;
  position: relative;
}

.donate .text-LR1rE1 {
  background-color: transparent;
  color: var(--gray900);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .supporting-text-vmRElE {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 768px;
}

.donate .job-post-w5CCOU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 53px;
  position: relative;
  width: 768px;
}

.donate .divider-5dz76u {
  align-self: stretch;
  background-color: var(--gray200);
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .content-5dz76u {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 28px;
  position: relative;
}

.donate .text-and-supporting-text-DTUVfF {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 28px;
  position: relative;
}

.donate .text-and-badge-yRD4nM {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 28px;
  position: relative;
}

.donate .text-u9hyfm {
  background-color: transparent;
  color: var(--gray900);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .gofundme-PFOx4Z {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  min-height: 195px;
  min-width: 542px;
  position: relative;
}

.donate .screenshot-2022-04-13-at-1551-2-nbFsXk {
  background-color: transparent;
  height: 195px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 255px;
}

.donate .screenshot-2022-04-13-at-1551-1-nbFsXk {
  background-color: transparent;
  height: 195px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 255px;
}

.donate .job-post-HpwKBO {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 211px;
  position: relative;
  width: 768px;
}

.donate .divider-eLys3q {
  align-self: stretch;
  background-color: var(--gray200);
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .content-eLys3q {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 186px;
  position: relative;
}

.donate .text-and-supporting-text-xrPiMD {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 186px;
  position: relative;
}

.donate .text-and-badge-0f9yq6 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 74px;
  position: relative;
}

.donate .text-oGFsqn {
  background-color: transparent;
  color: var(--gray900);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.donate .supporting-text-0f9yq6 {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 700;
  height: 104px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 768px;
}

.donate .span0-Fwot0C {
  font-style: normal;
  font-weight: 700;
}

.donate .span1-Fwot0C {
  font-style: normal;
  font-weight: 400;
}

.donate .span2-Fwot0C {
  font-style: normal;
  font-weight: 700;
}

.donate .span3-Fwot0C {
  font-style: normal;
  font-weight: 400;
}

.donate .span4-Fwot0C {
  font-style: normal;
  font-weight: 700;
}

.donate .span5-Fwot0C {
  font-style: normal;
  font-weight: 400;
}

.donate .job-post-fhfjWb {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 85px;
  position: relative;
  width: 768px;
}

.donate .divider-XzxX5p {
  align-self: stretch;
  background-color: var(--gray200);
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .content-XzxX5p {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .text-and-supporting-text-Ffngee {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .text-and-badge-jaaxky {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 28px;
  position: relative;
}

.donate .text-iRw3fQ {
  background-color: transparent;
  color: var(--gray900);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .supporting-text-jaaxky {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 768px;
}

.donate .job-post-GE8PKA {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 85px;
  position: relative;
  width: 768px;
}

.donate .divider-NGL99U {
  align-self: stretch;
  background-color: var(--gray200);
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .content-NGL99U {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .text-and-supporting-text-zKOwVQ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .text-and-badge-et9GXd {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 28px;
  position: relative;
}

.donate .text-zwR3lP {
  background-color: transparent;
  color: var(--gray900);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .supporting-text-et9GXd {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 768px;
}

.donate .job-post-CuxNcv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 85px;
  position: relative;
  width: 768px;
}

.donate .divider-VAeoBx {
  align-self: stretch;
  background-color: var(--gray200);
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .content-VAeoBx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .text-and-supporting-text-svrR8y {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .text-and-badge-wqjGtP {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 28px;
  position: relative;
}

.donate .text-Wlid7K {
  background-color: transparent;
  color: var(--gray900);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .badge-Wlid7K {
  background-color: transparent;
  min-height: 24px;
  min-width: 79px;
  mix-blend-mode: multiply;
  position: relative;
}

.donate .supporting-text-wqjGtP {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 768px;
}

.donate .faq-section-vf7lPW {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  margin-bottom: -148px;
  min-height: 498px;
  mix-blend-mode: normal;
  overflow: hidden;
  padding-bottom: 96px;
  padding-top: 96px;
  position: relative;
  width: 1440px;
}

.donate .container-smzWnz {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  min-height: 84px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 1280px;
}

.donate .content-ayP2AE {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  min-height: 84px;
  position: relative;
}

.donate .faq-item-TyFCIN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 84px;
  position: relative;
}

.donate .content-0iKRQV {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  min-height: 84px;
  position: relative;
}

.donate .text-and-supporting-text-dRje7U {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 84px;
  position: relative;
}

.donate .text-U0K5oj {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray900);
  font-style: normal;
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 1216px;
}

.donate .supporting-text-U0K5oj {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 400;
  height: 48px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 1216px;
}

.donate .container-IxNIUB {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  min-height: 158px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 1280px;
}

.donate .content-rwKYQG {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--sunglow);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  min-height: 158px;
  mix-blend-mode: normal;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  position: relative;
}

.donate .heading-and-supporting-text-zfb2jA {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 94px;
  position: relative;
  width: 768px;
}

.donate .heading-xKORTU {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray900);
  font-style: normal;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 768px;
}

.donate .supporting-text-xKORTU {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 400;
  height: 56px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 768px;
}

.donate .actions-zfb2jA {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  min-height: 44px;
  min-width: 121px;
  position: relative;
}

.donate .button-VKiejA {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 44px;
  min-width: 121px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-1h6SlI {
  align-items: center;
  background-color: var(--primary500);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 44px;
  min-width: 121px;
  mix-blend-mode: normal;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  position: relative;
}

.donate .text-mHPAge {
  background-color: transparent;
  color: var(--basewhite);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-i1xz6i {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  min-height: 752px;
  mix-blend-mode: normal;
  padding-bottom: 48px;
  padding-top: 64px;
  position: relative;
  width: 1440px;
}

.donate .container-Tt8UJL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  min-height: 207px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 1280px;
}

.donate .content-gg6RgG {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  min-height: 142px;
  position: relative;
}

.donate .text-and-supporting-text-uwNtpC {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  position: relative;
}

.donate .text-kMcNC6 {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray900);
  font-style: normal;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 1216px;
}

.donate .supporting-text-kMcNC6 {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 400;
  height: 104px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 1216px;
}

.donate .span0-aUUxwV {
  font-style: normal;
}

.donate .span1-aUUxwV {
  font-style: normal;
  text-decoration: underline;
}

.donate .span2-aUUxwV {
  font-style: normal;
}

.donate .divider-gg6RgG {
  align-self: stretch;
  background-color: var(--mercury);
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .container-7Qtkgx {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 240px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 1280px;
}

.donate .content-RM01zn {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  min-height: 240px;
  position: relative;
}

.donate .footer-links-column-TkSloO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 168px;
  position: relative;
}

.donate .heading-94veuc {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray400);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 176px;
}

.donate .footer-links-94veuc {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  min-height: 132px;
  position: relative;
}

.donate .footer-link-WH5BrS {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 40px;
  position: relative;
}

.donate .button-1gbZFG {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 40px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-GmS8WW {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 40px;
  position: relative;
}

.donate .text-GE6Pnz {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-RMsdK5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 69px;
  position: relative;
}

.donate .button-CaZzJR {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-fM4Unm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 69px;
  position: relative;
}

.donate .text-lJzzL2 {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-QngeGM {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 99px;
  position: relative;
}

.donate .button-edSKF2 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 99px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-28EtZb {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 99px;
  position: relative;
}

.donate .text-7C66aC {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-QolTXy {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 82px;
  position: relative;
}

.donate .button-KJAQx9 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 82px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-2cYiUM {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 82px;
  position: relative;
}

.donate .text-c3aOOj {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-links-column-vdzvMW {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .heading-YzNMRp {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray400);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 176px;
}

.donate .footer-links-YzNMRp {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  min-height: 24px;
  position: relative;
}

.donate .footer-link-NkBtZt {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 160px;
  position: relative;
}

.donate .button-exfn1f {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 160px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-2RoUNd {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 160px;
  position: relative;
}

.donate .text-SRZu5E {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-links-column-h1pFIT {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 240px;
  position: relative;
}

.donate .heading-JHmvRS {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray400);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 176px;
}

.donate .footer-links-JHmvRS {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  min-height: 204px;
  position: relative;
}

.donate .footer-link-hZ46fn {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 118px;
  position: relative;
}

.donate .button-tOKwdK {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 118px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-lxgjbI {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 118px;
  position: relative;
}

.donate .text-FpnUg8 {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-MrAukt {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 84px;
  position: relative;
}

.donate .button-LxA6n1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-qDzfxr {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 84px;
  position: relative;
}

.donate .text-KBnQnQ {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-NB8ebO {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 52px;
  position: relative;
}

.donate .button-fdyZCw {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 52px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-4S6l1u {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 52px;
  position: relative;
}

.donate .text-HoVpCx {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-nu3zUQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 89px;
  position: relative;
}

.donate .button-NL1kTA {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-9XxC6u {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 89px;
  position: relative;
}

.donate .text-bTeZMV {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-iKwux6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 67px;
  position: relative;
}

.donate .button-QUejwR {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 67px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-82wxuT {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 67px;
  position: relative;
}

.donate .text-62FIVx {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-oz4JLP {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 62px;
  position: relative;
}

.donate .button-zZTi5H {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 62px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-6wQRsl {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 62px;
  position: relative;
}

.donate .text-DiNbOJ {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-links-column-mpY1Q4 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 96px;
  position: relative;
}

.donate .heading-daYEJx {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray400);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 176px;
}

.donate .footer-links-daYEJx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .footer-link-ZE0IGO {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 61px;
  position: relative;
}

.donate .button-EC8bOv {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-vCBO36 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 61px;
  position: relative;
}

.donate .text-otLxSk {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-C6HN9V {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 93px;
  position: relative;
}

.donate .button-fd8qpx {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 93px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-bn1FpY {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 93px;
  position: relative;
}

.donate .text-I0UghR {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-links-column-PLW7gA {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 96px;
  position: relative;
}

.donate .heading-1TxJ0o {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray400);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 176px;
}

.donate .footer-links-1TxJ0o {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
}

.donate .footer-link-qibZbf {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 70px;
  position: relative;
}

.donate .button-vBKwvC {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 70px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-tfmcBn {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 70px;
  position: relative;
}

.donate .text-KzxgxE {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-Tf0ye9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 43px;
  position: relative;
}

.donate .button-uK85x3 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-Q2x0Gr {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 43px;
  position: relative;
}

.donate .text-O1RsBD {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-links-column-j1sn96 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 240px;
  position: relative;
}

.donate .heading-FttSMz {
  align-self: stretch;
  background-color: transparent;
  color: var(--gray400);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 176px;
}

.donate .footer-links-FttSMz {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  min-height: 204px;
  position: relative;
}

.donate .footer-link-qf81Gs {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 42px;
  position: relative;
}

.donate .button-IBnGMR {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 42px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-SAINZY {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 42px;
  position: relative;
}

.donate .text-Watq6C {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-hfMme8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 66px;
  position: relative;
}

.donate .button-WDPnF9 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 66px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-SWcM0e {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 66px;
  position: relative;
}

.donate .text-tv99EH {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-RirkYX {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 84px;
  position: relative;
}

.donate .button-p3k57B {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-jUTN5O {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 84px;
  position: relative;
}

.donate .text-iTxZsL {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-YP3S2U {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 69px;
  position: relative;
}

.donate .button-wsNSEw {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-Uf7fxy {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 69px;
  position: relative;
}

.donate .text-aeIdvh {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-PxXghD {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 88px;
  position: relative;
}

.donate .button-y1QvCv {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 88px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-mSEUKm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 88px;
  position: relative;
}

.donate .text-RGdD5G {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .footer-link-cR1pvh {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 83px;
  position: relative;
}

.donate .button-e0k51c {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 24px;
  min-width: 83px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .button-base-C3BfkH {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 83px;
  position: relative;
}

.donate .text-O19mLw {
  background-color: transparent;
  color: var(--gray500);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.donate .container-XogKvd {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  min-height: 65px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 1280px;
}

.donate .divider-Q3q06W {
  align-self: stretch;
  background-color: var(--mercury);
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
}

.donate .content-Q3q06W {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  min-height: 32px;
  position: relative;
}

.donate .logo-4kHzzz {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 192px;
}

.donate .logomark-xrbzO7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16.67%;
}

.donate .logotype-xrbzO7 {
  background-color: transparent;
  height: 40.62%;
  left: 21.88%;
  mix-blend-mode: normal;
  position: absolute;
  top: 40.62%;
  width: 78.12%;
}

.donate .footer-text-4kHzzz {
  background-color: transparent;
  color: var(--gray400);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
