<div class="landing-mobile screen">
<div class="footer">
  <div class="container-13">
    <div class="content-15">
      <div class="text-and-supporting-text-4">
        <div class="text-7 text-lgmedium">{{ 'footer_mobile.title' | translate }}</div>
        <p class="supporting-text-12 text-mdnormal">
                  <span class="text-mdnormal">{{ 'footer_mobile.registration' | translate }}<br />KvK 85736619<br /></span>
          <a href="mailto:info@zeilenvanvrijheid.nl" target="_blank">
            <span class="span1 text-mdnormal">info@zeilenvanvrijheid.nl</span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="container-14">
    <div class="content-16">
      <div class="footer-links-column-2">
        <div class="heading text-smsemibold">{{ 'footer_mobile.volunteer' | translate }}</div>
        <div class="footer-links-2">
          <div class="footer-link-2">
            <div class="button-5" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
              <div class="button-base-6"><div class="text-4 text-mdmedium">{{ 'footer_mobile.drive' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link">
            <div class="button-2" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
              <div class="button-base-1"><div class="text-4 text-mdmedium">{{ 'footer_mobile.logistics' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-3">
            <div class="button-6" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
              <div class="button-base-7"><div class="text-4 text-mdmedium">{{ 'footer_mobile.procurement' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-4">
            <div class="button-7" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
              <div class="button-base-8"><div class="text-4 text-mdmedium">{{ 'footer_mobile.backoffice' | translate }}</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-links-column-3">
        <div class="heading text-smsemibold">{{ 'footer_mobile.sponsor' | translate }}</div>
        <div class="footer-links-3">
          <div class="footer-link-5">
            <div class="button-8" (click)="menuService.setMenuSelection(MenuSelection.Donate)">
              <div class="button-base-9"><div class="text-4 text-mdmedium">Donate in kind</div></div>
            </div>
          </div>
          <div class="footer-link-5">
            <div class="button-8" (click)="menuService.setMenuSelection(MenuSelection.Partner)">
              <div class="button-base-9"><div class="text-4 text-mdmedium">{{ 'footer_mobile.adopt' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-5">
            <div class="button-8" (click)="menuService.setMenuSelection(MenuSelection.Partner)">
              <div class="button-base-9"><div class="text-4 text-mdmedium">Partnerships deck</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-2">
      <div class="footer-links-column">
        <div class="heading text-smsemibold">{{ 'footer_mobile.request' | translate }}</div>
          <div class="footer-links">
            <div class="footer-link-6">
              <div class="button-9" (click)="menuService.setMenuSelection(MenuSelection.Request)">
                <div class="button-base-10"><div class="text-4 text-mdmedium">{{ 'footer.make_request' | translate }}</div></div>
              </div>
            </div>
            <div class="footer-link-6">
              <div class="button-9" (click)="menuService.setMenuSelection(MenuSelection.Reports)">
                <div class="button-base-10"><div class="text-4 text-mdmedium">{{ 'footer.reports' | translate }}</div></div>
              </div>
            </div>
            <div class="footer-link-6">
              <div class="button-9" (click)="menuService.setMenuSelection(MenuSelection.Media)">
                <div class="button-base-10"><div class="text-4 text-mdmedium">{{ 'footer.press' | translate }}</div></div>
              </div>
            </div>
        </div>
      </div>
      <div class="footer-links-column-1">
        <div class="heading text-smsemibold">{{ 'footer_mobile.impact' | translate }}</div>
        <div class="footer-links-1">
          <div class="footer-link-11">
            <div class="button-1"  (click)="menuService.setMenuSelection(MenuSelection.About)">
              <div class="button-base"><div class="text-4 text-mdmedium">{{ 'footer.about' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-11">
            <div class="button-1" (click)="menuService.setMenuSelection(MenuSelection.Partner)">
              <div class="button-base"><div class="text-4 text-mdmedium">{{ 'footer.partners' | translate }}</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-15">
    <div class="divider-1"></div>
    <div class="content-17">
      <div class="logo-1">
        <img class="logomark-1" src="assets/img/logomark@2x.png" />
        <img class="logotype-1" src="assets/img/logotype@2x.png" />
      </div>
      <p class="footer-text text-mdnormal">{{ 'footer_mobile.copyright' | translate }}</p>
    </div>
  </div>
</div>
</div>
