<div class="landing-mobile screen">
<div class="footer">
  <div class="container-13">
    <div class="content-15">
      <div class="text-and-supporting-text-4">
        <div class="text-7 text-lgmedium">{{ 'footer_mobile.title' | translate }}</div>
        <p class="supporting-text-12 text-mdnormal">
                  <span class="text-mdnormal">{{ 'footer_mobile.registration' | translate }}<br />KvK 85736619<br /></span
                  ><a href="mailto:zeilenvanvrijheid@gmail.com" target="_blank"
        ><span class="span1 text-mdnormal">{{ 'footer_mobile.mail' | translate }}</span></a
        ><span class="text-mdnormal">{{ 'footer_mobile.phone' | translate }}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="container-14">
    <div class="content-16">
      <div class="footer-links-column-2">
        <div class="heading text-smsemibold">{{ 'footer_mobile.volunteer' | translate }}</div>
        <div class="footer-links-2">
          <div class="footer-link-2">
            <div class="button-5" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
              <div class="button-base-6"><div class="text-4 text-mdmedium">{{ 'footer_mobile.drive' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link">
            <div class="button-2" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
              <div class="button-base-1"><div class="text-4 text-mdmedium">{{ 'footer_mobile.logistics' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-3">
            <div class="button-6" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
              <div class="button-base-7"><div class="text-4 text-mdmedium">{{ 'footer_mobile.procurement' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-4">
            <div class="button-7" (click)="menuService.setMenuSelection(MenuSelection.Volunteer)">
              <div class="button-base-8"><div class="text-4 text-mdmedium">{{ 'footer_mobile.backoffice' | translate }}</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-links-column-3">
        <div class="heading text-smsemibold">{{ 'footer_mobile.sponsor' | translate }}</div>
        <div class="footer-links-3">
          <div class="footer-link-5">
            <div class="button-8" (click)="menuService.setMenuSelection(MenuSelection.Partner)">
              <div class="button-base-9"><div class="text-4 text-mdmedium">{{ 'footer_mobile.adopt' | translate }}</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-2">
      <div class="footer-links-column">
        <div class="heading text-smsemibold">{{ 'footer_mobile.request' | translate }}</div>
        <div class="footer-links">
          <div class="footer-link-6">
            <div class="button-9" (click)="menuService.setMenuSelection(MenuSelection.Request)">
              <div class="button-base-10"><div class="text-4 text-mdmedium">{{ 'footer_mobile.make_request' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-1">
            <div class="button-3" (click)="menuService.setMenuSelection(MenuSelection.Request)">
              <div class="button-base-2"><div class="text-4 text-mdmedium">{{ 'footer_mobile.newsletter' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-7">
            <div class="button-10" (click)="menuService.setMenuSelection(MenuSelection.Request)">
              <div class="button-base-11"><div class="text-4 text-mdmedium">{{ 'footer_mobile.events' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-8">
            <div class="button-11" (click)="menuService.setMenuSelection(MenuSelection.Request)">
              <div class="button-base-12"><div class="text-4 text-mdmedium">{{ 'footer_mobile.help' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-9">
            <div class="button-12" (click)="menuService.setMenuSelection(MenuSelection.Request)">
              <div class="button-base-13"><div class="text-4 text-mdmedium">{{ 'footer_mobile.tutorials' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-10">
            <div class="button-13" (click)="menuService.setMenuSelection(MenuSelection.Request)">
              <div class="button-base-14"><div class="text-4 text-mdmedium">{{ 'footer_mobile.support' | translate }}</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-links-column-1">
        <div class="heading text-smsemibold">{{ 'footer_mobile.impact' | translate }}</div>
        <div class="footer-links-1">
          <div class="footer-link-11">
            <div class="button-1" (click)="menuService.setMenuSelection(MenuSelection.Reports)">
              <div class="button-base"><div class="text-4 text-mdmedium">{{ 'footer_mobile.reports' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-12">
            <div class="button-14" (click)="menuService.setMenuSelection(MenuSelection.Reports)">
              <div class="button-base-15"><div class="text-4 text-mdmedium">{{ 'footer_mobile.partners_ua' | translate }}</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-2">
      <div class="footer-links-column-1">
        <div class="heading text-smsemibold">{{ 'footer_mobile.media' | translate }}</div>
        <div class="footer-links-1">
          <div class="footer-link-13">
            <div class="button-15" (click)="menuService.setMenuSelection(MenuSelection.Media)">
              <div class="button-base-16"><div class="text-4 text-mdmedium">{{ 'footer_mobile.media_kit' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-14">
            <div class="button-16" (click)="menuService.setMenuSelection(MenuSelection.Media)">
              <div class="button-base-17"><div class="text-4 text-mdmedium">{{ 'footer_mobile.press' | translate }}</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-links-column">
        <div class="heading text-smsemibold">{{ 'footer_mobile.foundation' | translate }}</div>
        <div class="footer-links">
          <div class="footer-link-15">
            <div class="button-17" (click)="menuService.setElementSelection(MenuSelection.About, 'team')">
              <div class="button-base-18"><div class="text-4 text-mdmedium">{{ 'footer_mobile.team' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-16">
            <div class="button-18" (click)="menuService.setMenuSelection(MenuSelection.Partner)">
              <div class="button-base-19"><div class="text-4 text-mdmedium">{{ 'footer_mobile.partners' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-1">
            <div class="button-3" (click)="menuService.setMenuSelection(MenuSelection.About)">
              <div class="button-base-2"><div class="text-4 text-mdmedium">{{ 'footer_mobile.contact' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link">
            <div class="button-2" (click)="menuService.setMenuSelection(MenuSelection.About)">
              <div class="button-base-1"><div class="text-4 text-mdmedium">{{ 'footer_mobile.about' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-17">
            <div class="button-19" (click)="menuService.setMenuSelection(MenuSelection.Reports)">
              <div class="button-base-20"><div class="text-4 text-mdmedium">{{ 'footer_mobile.documents' | translate }}</div></div>
            </div>
          </div>
          <div class="footer-link-18">
            <div class="button-20" (click)="menuService.setMenuSelection(MenuSelection.About)">
              <div class="button-base-21"><div class="text-4 text-mdmedium">{{ 'footer_mobile.volunteers' | translate }}</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-15">
    <div class="divider-1"></div>
    <div class="content-17">
      <div class="logo-1">
        <img class="logomark-1" src="assets/img/logomark@2x.png" />
        <img class="logotype-1" src="assets/img/logotype@2x.png" />
      </div>
      <p class="footer-text text-mdnormal">{{ 'footer_mobile.copyright' | translate }}</p>
    </div>
  </div>
</div>
</div>
