@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500,600");

.screen a {
  display: contents;
  text-decoration: none;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.landing-mobile {
  background-color: var(--basewhite);
  display: flex;
  overflow: hidden;
  width: 100vw;
}

.landing-mobile .footer {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 48px;
  padding-top: 48px;
  width: 100vw;
}

.landing-mobile .container-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.landing-mobile .text-and-supporting-text-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.landing-mobile .text-7 {
  align-self: stretch;
  color: var(--gray900);
  font-weight: 500;
  height: 56px;
  line-height: 28px;
  margin-top: -1px;
  width: calc(100vw - 32px);
}

.landing-mobile .supporting-text-12 {
  align-self: stretch;
  color: var(--gray500);
  font-weight: 400;
  line-height: 24px;
  width: calc(100vw - 32px);
}

.landing-mobile .span1 {
  text-decoration: underline;
}

.landing-mobile .container-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-16 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 32px;
}

.landing-mobile .footer-links-column-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .heading {
  align-self: stretch;
  color: var(--gray400);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-top: -1px;
  white-space: nowrap;
  width: 155.5px;
}

.landing-mobile .footer-links-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.landing-mobile .footer-link-2 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 40px;
}

.landing-mobile .button-5 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 40px;
}

.landing-mobile .button-base-6 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 40px;
}

.landing-mobile .text-4 {
  color: var(--gray500);
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.landing-mobile .footer-link {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 69px;
}

.landing-mobile .button-2 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 69px;
}

.landing-mobile .button-base-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 69px;
}

.landing-mobile .footer-link-3 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 99px;
}

.landing-mobile .button-6 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 99px;
}

.landing-mobile .button-base-7 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 99px;
}

.landing-mobile .footer-link-4 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 82px;
}

.landing-mobile .button-7 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 82px;
}

.landing-mobile .button-base-8 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 82px;
}

.landing-mobile .footer-links-column-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .footer-links-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.landing-mobile .footer-link-5 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 160px;
}

.landing-mobile .button-8 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 160px;
}

.landing-mobile .button-base-9 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 160px;
}

.landing-mobile .content-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 32px;
}

.landing-mobile .footer-links-column {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .footer-links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.landing-mobile .footer-link-6 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 118px;
}

.landing-mobile .button-9 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 118px;
}

.landing-mobile .button-base-10 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 118px;
}

.landing-mobile .footer-link-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 84px;
}

.landing-mobile .button-3 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 84px;
}

.landing-mobile .button-base-2 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 84px;
}

.landing-mobile .footer-link-7 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 52px;
}

.landing-mobile .button-10 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 52px;
}

.landing-mobile .button-base-11 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 52px;
}

.landing-mobile .footer-link-8 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 89px;
}

.landing-mobile .button-11 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 89px;
}

.landing-mobile .button-base-12 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 89px;
}

.landing-mobile .footer-link-9 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 67px;
}

.landing-mobile .button-12 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 67px;
}

.landing-mobile .button-base-13 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 67px;
}

.landing-mobile .footer-link-10 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 62px;
}

.landing-mobile .button-13 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 62px;
}

.landing-mobile .button-base-14 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 62px;
}

.landing-mobile .footer-links-column-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .footer-links-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.landing-mobile .footer-link-11 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 61px;
}

.landing-mobile .footer-link-12 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 93px;
}

.landing-mobile .button-14 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 93px;
}

.landing-mobile .button-base-15 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 93px;
}

.landing-mobile .footer-link-13 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 70px;
}

.landing-mobile .button-15 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 70px;
}

.landing-mobile .button-base-16 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 70px;
}

.landing-mobile .footer-link-14 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 43px;
}

.landing-mobile .button-16 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 43px;
}

.landing-mobile .button-base-17 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 43px;
}

.landing-mobile .footer-link-15 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 42px;
}

.landing-mobile .button-17 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 42px;
}

.landing-mobile .button-base-18 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 42px;
}

.landing-mobile .footer-link-16 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 66px;
}

.landing-mobile .button-18 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 66px;
}

.landing-mobile .button-base-19 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 66px;
}

.landing-mobile .footer-link-17 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 88px;
}

.landing-mobile .button-19 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 88px;
}

.landing-mobile .button-base-20 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 88px;
}

.landing-mobile .footer-link-18 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 83px;
}

.landing-mobile .button-20 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-width: 83px;
}

.landing-mobile .button-base-21 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 83px;
}

.landing-mobile .container-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .divider-1 {
  align-self: stretch;
  background-color: var(--mercury);
  height: 1px;
}

.landing-mobile .content-17 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.landing-mobile .logo-1 {
  align-items: center;
  display: flex;
  height: 32px;
  min-width: 192px;
  padding: 11.8px 15.8px;
}

.landing-mobile .logomark-1 {
  height: 32px;
  width: 32px;
}

.landing-mobile .logotype-1 {
  height: 13px;
  margin-left: 10px;
  margin-top: 7.0px;
  width: 150px;
}

.landing-mobile .footer-text {
  align-self: stretch;
  color: var(--gray400);
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}
