<div class="requests-1 screen">
  <div class="rich-text-section">
    <div class="container-1">
      <div class="content-2">
        <div class="heading-and-subheading">
          <h1 class="heading-1">We take requests. Як ми можемо допомогти?</h1>
        </div>
        <div class="rich-text">
          <div class="section">
            <div class="paragraph text-lgnormal">
              Zeilen van Vrijheid is an international humanitarian organization aiming to bring medical aid to
              Ukraine, fast. <br />If you represent a registered healthcare institution in Ukraine and are in need
              in emergency care vehicles, devices, supplies or medicines, please leave a request to provide them in
              a form. <br />Note that as a small non-profit organization we are not able to fulfil all the requests
              or answer all the inquiries. To get a positive response, please be as detailed as possible in
              explaining the need for the medical supplies in your organization. We prioritize requests coming from
              the areas that are most affected by the war and humanitarian crisis.<br />Zeilen van Vrijheid
              («Вітрила Свободи» — міжнародну гуманітарна організація. Ми ввозимо медичну допомогу в Україну,
              швидко. <br />Якщо ви представляєте зареєстровану в Україні медичну організацію і потребуєте
              автомобілі швидкої допомоги, медичні прибори або медикаменти, просимо заполнити вас форму для запиту.
              <br />Ми — ефективний, але невеликий фонд, тому не гарантуємо, що зможемо виконати або покрити всі
              запити. Будь-ласка, заповните форму з потребами вашої організаціі якомога детально, це значно
              підвищить шанси позитивної видповіді. Ми віддаємо пріоритет напрямкам, найбільше постраждалим від
              війни та гуманітарної кризи.
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <img class="hand-drawn-line" src="assets/img/hand-drawn-line@2x.png" />
        <img class="image-1" src="assets/img/request_image@1x.png" />
      </div>
    </div>
  </div>
</div>

