<div class="iphone-13-mini-2 screen">
  <div class="frame-2">
    <div class="header-section">
      <div class="container-1">
        <div class="content-1">
          <div class="heading-and-supporting-text">
            <div class="heading-and-subheading">
              <h1 class="heading-1 inter-semi-bold-mirage-36px">Partnerships that matter</h1>
            </div>
            <div class="supporting-text text-lgnormal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="careers-section">
      <div class="container-2">
        <div class="content-2">
          <div class="heading-and-supporting-text-1">
            <div class="heading-2 display-smsemibold">Types of partnerships</div>
            <div class="supporting-text-1 text-xlnormal">
              Zeilen Van Vrijheid works with corporate partners in the healthcare, medical devices, nonprofit, and
              automotive/auto parts sectors to provide vital support to Ukraine. Join our network of partners to
              help us maximise our impact.
            </div>
          </div>
        </div>
      </div>
      <div class="container-3">
        <div class="horizontal-tabs">
          <div class="input-dropdown">
            <div class="input-dropdown-base">
              <div class="input-with-label">
                <mat-form-field appearance="outline" style="width: calc(100vw - 32px);">
                  <mat-select [(value)]="selected" (selectionChange)="inputChange()" required>
                    <mat-option [value]=PartnerTabSelection.All>View all</mat-option>
                    <mat-option [value]=PartnerTabSelection.Adopt>View adopt</mat-option>
                    <mat-option [value]=PartnerTabSelection.Donate>View donate</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-4">
      <div class="rich-text">
        <div class="section"><div class="heading-3 inter-semi-bold-mirage-36px">Sponsor an ambulance</div></div>
        <div class="section-1">
          <p class="intro text-mdnormal">
            Fundraise within your organisation, or allocate part of your budget to send an ambulance to Ukraine in
            your company’s name.
          </p>
          <img
            class="divider"
            src="assets/img/divider@2x.png"
          />
        </div>
        <div class="section-2">
          <div class="paragraph text-lgnormal">
            Your company can make a charitable contribution to Zeilen Van Vrijheid to purchase a used ambulance
            and/or necessary lifesaving equipment. Our Foundation takes on all the required sourcing, logistical,
            customs, and administrative activities to facilitate your contribution.<br />We have multiple branding
            and media support options available. If you prefer to fundraise within your organisation’s staff or
            clientele, we can help you with fundraising strategies and materials.
          </div>
        </div>
        <div class="section-3">
          <div class="heading-4 display-smsemibold">Benefits of this partnership:</div>
          <div class="paragraph-1 text-lgnormal">
            Boost your brand’s image and social capital by showing that your company helps support Ukraine with
            vital equipment in a time of war and humanitarian crisis.<br />Increase employee and customer loyalty by
            showing your leadership’s caring and humanist stance.<br />Attract new clientele by promoting your
            anti-war and pro-humanitarian stance.
          </div>
        </div>
        <div class="rich-text-1">
          <div class="section-4"><div class="heading-5 display-xssemibold">Example execution</div></div>
          <div class="section-5">
            <div class="intro-1 text-lgnormal">
              Thanks to the generous donations of Xebia and GitNation, Zeilen Van Vrijheid purchased a used
              ambulance, filled it with lifesaving equipment, and sent it directly to the Kyiv Regional
              Children&#39;s Hospital in Boyarka. The ambulance was fully branded with Xebia’s logo (per our
              agreement, GitNation forwent branding), received media support, and photo opportunities with the
              hospital staff
            </div>
            <img
              class="divider"
              src="assets/img/divider@2x.png"
            />
          </div>
        </div>
        <div class="rich-text-img"></div>
        <div class="blockquote">
          <div class="left-border"></div>
          <div class="quote-wrap">
            <div class="quote display-xsmedium-italic">
              “In a world older and more complete than ours they move finished and complete, gifted with extensions
              of the senses we have lost or never attained, living by voices we shall never hear.”
            </div>
            <p class="text-2 text-mdnormal">— Olivia Rhye, Product Designer at XXX</p>
          </div>
        </div>
      </div>
    </div>
    <div class="images">
      <div class="image-gallery">
        <div class="content-5">
          <div class="images-1">
            <div class="image"></div>
            <div class="image-1">
              <img
                class="image-2"
                src="assets/img/image-2@2x.png"
              />
            </div>
            <div class="image-3"></div>
          </div>
          <div class="arrows">
            <div class="testiomonial-carousel-arrow border-1px-gray200">
              <img
                class="arrow-left"
                src="assets/img/arrow-left@2x.png"
              />
            </div>
            <div class="testiomonial-carousel-arrow border-1px-gray200">
              <img
                class="arrow-right"
                src="assets/img/arrow-right@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="thank-you">
      <div class="content-6">
        <div class="heading-and-supporting-text-2">
          <div class="heading-6 text-xlmedium">Thank you!</div>
          <div class="supporting-text-2 text-lgnormal">
            Thank you! If you or your organisation would like to make a large donation, we have sponsorship packages
            and media support available. You can reach out directly to our Co-Founder, Veronika Mutsei, to discuss
            your options.
          </div>
        </div>
        <div class="actions">
          <div class="button-2">
            <div class="button-base-2"><div class="text-3 text-mdmedium">Send email</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


