<div class="join-us screen">
  <div class="careers-section-ysj9e3">
    <div class="header-VIpO9m">
      <div class="content-8vNlKW">
        <div class="heading-and-supporting-text-XXH68R">
          <div class="heading-and-subheading-xebUWv">
            <div class="heading-EkGnef inter-semi-bold-mirage-36px">Our reports</div>
          </div>
          <div class="our-philosophy-is-si-xebUWv text-xlnormal">
            Zeilen Van Vrijheid works with corporate partners in the healthcare, medical devices, nonprofit, and automotive/auto parts sectors to provide vital support to Ukraine. Join our network of partners to help us maximise our impact.
          </div>
        </div>
      </div>
    </div>
    <div class="rcorners2">
      <div class="location-xdLX8P text-mdmedium">18 June 2022</div>
      <div class="text-vUwv6k text-lgmedium">Convoy 12</div>
      <div class="supporting-text-1DS7J1 text-mdnormal">3 ambulances including 1 pediatric, 1 UNIMOG, and 1 support vehicle</div>
    </div>
  </div>
</div>


