:root {
  --baseblack: #000000;
  --basewhite: #ffffff;
  --bdazzled-blue: #224495;
  --biscay: #143173;
  --blue-dark--50: #eff4ff;
  --downriver: #0b2051;
  --gray-cool--50: #f8f9fb;
  --gray-modern--50: #f8f9fb;
  --gray-neutral--25: #fbfcfc;
  --gray100: #f2f3f6;
  --gray200: #eaecf0;
  --gray25: #fbfcfc;
  --gray400: #98a1b2;
  --gray50: #f8f9fb;
  --gray500: #667084;
  --gray800: #1d2838;
  --gray900: #0f1728;
  --mercury: #e4e6eb;
  --perano: #a7c2ff;
  --portage: #83a9ff;
  --primary50: #edf1fb;
  --primary500: #4773d9;
  --primary600: #395cae;
  --primary800: #1c2e56;
  --success500: #12b669;
  --sunglow: #f9d347;
  --warning300: #fec84a;
  --warning500: #f78f08;
  --white: #ffffffe6;

  --font-size-24px: 24px;
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 20px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 36px;
  --font-size-xxxxl: 48px;

  --font-family-inter: "Inter", Helvetica;
}
.display-smsemibold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.display-xssemibold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.text-xlnormal {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-xlmedium {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

.text-xlsemibold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.text-lgnormal {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-lgmedium {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

.text-lgbold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

.text-mdnormal {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-mdmedium {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

.text-mdsemibold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.text-mdbold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

.text-smsemibold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.inter-semi-bold-mirage-36px {
  color: var(--gray900);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-biscay-48px {
  color: var(--biscay);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-royal-blue-48px {
  color: var(--primary500);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-mirage-48px {
  color: var(--gray900);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-pale-sky-48px {
  color: var(--gray500);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-white-48px {
  color: var(--basewhite);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.border-1px-primary500 {
  border: 1px solid var(--primary500);
}

.border-8px-primary50 {
  border: 8px solid var(--primary50);
}

.border-6px-primary50 {
  border: 6px solid var(--primary50);
}
