<div class="iphone-13-mini-3 screen">
  <div class="frame-2">
    <div class="header-section">
      <div class="container-1">
        <div class="content-2">
          <div class="heading-and-supporting-text">
            <div class="heading-and-subheading">
              <h1 class="heading-1 inter-semi-bold-mirage-36px">Partnerships that matter</h1>
            </div>
            <div class="supporting-text text-lgnormal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="careers-section">
      <div class="container-2">
        <div class="content-3">
          <div class="heading-and-supporting-text-1">
            <div class="heading-2 display-smsemibold">Types of partnerships</div>
            <div class="supporting-text-1 text-xlnormal">
              Zeilen Van Vrijheid works with corporate partners in the healthcare, medical devices, nonprofit, and
              automotive/auto parts sectors to provide vital support to Ukraine. Join our network of partners to
              help us maximise our impact.
            </div>
          </div>
        </div>
      </div>
      <div class="container-3">
        <div class="horizontal-tabs">
          <div class="input-dropdown">
            <div class="input-dropdown-base">
              <div class="input-with-label">
                  <mat-form-field appearance="outline" style="width: calc(100vw - 32px);">
                    <mat-select [(value)]="selected" (selectionChange)="inputChange()" required>
                      <mat-option [value]=PartnerTabSelection.All>View all</mat-option>
                      <mat-option [value]=PartnerTabSelection.Adopt>View adopt</mat-option>
                      <mat-option [value]=PartnerTabSelection.Donate>View donate</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
          </div>
        </div>
        <div class="content-5">
          <div class="job-post border-1px-gray200">
            <div class="content-6">
              <div class="text-and-supporting-text">
                <div class="text-and-badge"><div class="text text-lgmedium">Sponsor an ambulance</div></div>
                <p class="supporting-text-2 text-mdnormal">
                  Fundraise within your organisation, or allocate part of your budget to send an ambulance to
                  Ukraine in your company’s name.
                </p>
              </div>
              <div class="badge">
                <div class="badge-base">
                  <div class="location text-smmedium">Read more</div>
                  <img
                    class="arrow-right"
                    src="assets/img/arrow-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-1 border-1px-gray200">
            <div class="content-7">
              <div class="text-and-supporting-text-1">
                <div class="text-and-badge"><div class="text text-lgmedium">Donate in klind</div></div>
                <p class="supporting-text-3 text-mdnormal">
                  We’re looking for a mid-level product designer to join our team.
                </p>
              </div>
              <div class="badge">
                <div class="badge-base">
                  <div class="location-1 text-smmedium">Read more</div>
                  <img
                    class="arrow-right"
                    src="assets/img/arrow-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-2 border-1px-gray200">
            <div class="content">
              <div class="text-and-supporting-text-2">
                <div class="text-and-badge-1">
                  <div class="text-3 text-lgmedium">Is your organisation based in Ukraine?</div>
                </div>
                <p class="supporting-text-4 text-mdnormal">
                  If you represent an organisation that would like to help us deliver and distribute our vehicles
                  and humanitarian aid within Ukraine, please reach out via info@zeilenvanvrijheid.nl.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-proof-section">
      <div class="container-4">
        <div class="text-4 text-mdmedium">Thanks to our partners</div>
        <div class="logos-wrap">
          <div class="logos">
            <img
              class="company-logo"
              src="assets/img/company-logo@2x.png"
            />
            <img
              class="company-logo-1"
              src="assets/img/company-logo-1@2x.png"
            />
          </div>
          <div class="logos">
            <img
              class="company-logo-2"
              src="assets/img/company-logo-2@2x.png"
            />
            <img
              class="company-logo-3"
              src="assets/img/company-logo-3@2x.png"
            />
          </div>
          <div class="logos">
            <img
              class="company-logo-4"
              src="assets/img/company-logo-4@2x.png"
            />
            <img
              class="company-logo-5"
              src="assets/img/company-logo-5@2x.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

