<div class="iphone-13-mini-3 screen">
  <div class="frame-2">
    <div class="header-section">
      <div class="container-1">
        <div class="content-2">
          <div class="heading-and-supporting-text">
            <div class="heading-and-subheading">
              <h1 class="heading-1 inter-semi-bold-mirage-36px">{{ 'partner-all_mobile.header' | translate }}</h1>
            </div>
            <div class="supporting-text text-lgnormal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="careers-section">
      <div class="container-2">
        <div class="content-3">
          <div class="heading-and-supporting-text-1">
            <div class="heading-2 display-smsemibold">{{ 'partner-all_mobile.types_header' | translate }}</div>
            <div class="supporting-text-1 text-xlnormal">
              {{ 'partner-all_mobile.types_text' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="container-3">
        <div class="horizontal-tabs">
          <div class="input-dropdown">
            <div class="input-dropdown-base">
              <div class="input-with-label">
                  <mat-form-field appearance="outline" style="width: calc(100vw - 32px);">
                    <mat-select [(value)]="selected" (selectionChange)="inputChange()" required>
                      <mat-option [value]=PartnerTabSelection.All>{{ 'partner-all_mobile.view_all' | translate }}</mat-option>
                      <mat-option [value]=PartnerTabSelection.Adopt>{{ 'partner-all_mobile.adopt_ambulance' | translate }}</mat-option>
                      <mat-option [value]=PartnerTabSelection.Donate>{{ 'partner-all_mobile.donate_kind' | translate }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
          </div>
        </div>
        <div class="content-5">
          <div class="job-post border-1px-gray200">
            <div class="content-6">
              <div class="text-and-supporting-text">
                <div class="text-and-badge"><div class="text text-lgmedium">{{ 'partner-all_mobile.adopt_an_ambulance_header' | translate }}</div></div>
                <p class="supporting-text-2 text-mdnormal">
                  {{ 'partner-all_mobile.adopt_an_ambulance_text' | translate }}
                </p>
              </div>
              <div class="badge" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.Adopt)">
                <div class="badge-base">
                  <div class="location text-smmedium">{{ 'partner-all_mobile.read_more' | translate }}</div>
                  <img
                    class="arrow-right"
                    src="assets/img/arrow-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-1 border-1px-gray200">
            <div class="content-7">
              <div class="text-and-supporting-text-1">
                <div class="text-and-badge"><div class="text text-lgmedium">{{ 'partner-all_mobile.donate_in_kind_header' | translate }}</div></div>
                <p class="supporting-text-3 text-mdnormal">
                  {{ 'partner-all_mobile.donate_in_kind_text' | translate }}
                </p>
              </div>
              <div class="badge" (click)="menuService.setPartnerTabSelection(PartnerTabSelection.Donate)">
                <div class="badge-base">
                  <div class="location-1 text-smmedium">{{ 'partner-all_mobile.read_more' | translate }}</div>
                  <img
                    class="arrow-right"
                    src="assets/img/arrow-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="job-post-2 border-1px-gray200">
            <div class="content">
              <div class="text-and-supporting-text-2">
                <div class="text-and-badge-1">
                  <div class="text-3 text-lgmedium">{{ 'partner-all_mobile.based_in_ukraine_header' | translate }}</div>
                </div>
                <p class="supporting-text-4 text-mdnormal">
                  {{ 'partner-all_mobile.based_in_ukraine_text' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-proof-section">
      <div class="container-4">
        <div class="text-4 text-mdmedium">{{ 'partner-all_mobile.thanks' | translate }}</div>
        <div class="logos-wrap">
          <div class="logos">
            <img class="company-logo" src="assets/img/partner_logo_bwb.png"/>
            <img class="company-logo-1" src="assets/img/partner_logo_asbis.png"/>
          </div>
          <div class="logos">
            <img class="company-logo-2" src="assets/img/partner_logo_xebia.jpg"/>
            <img class="company-logo-3" src="assets/img/partner_logo_stp.png"/>
          </div>
          <div class="logos">
            <img class="company-logo-4" src="assets/img/partner_logo_visser.png"/>
            <img class="company-logo-5" src="assets/img/partner_logo_palianytsia.png"/>
          </div>
        </div>
        <br>
        <div class="text-4 text-mdmedium"><a href="https://trello.com/c/76EQHnRk/122-partner-logos">For reference, more partners and logos are at this Trello card</a></div>
      </div>
    </div>
  </div>
</div>

