<div class="donate screen">
  <div class="donate-HR21sU">
    <div class="header-section-i1xz6i">
      <div class="container-x7j1zj">
        <div class="content-fp8TXx">
          <div class="heading-and-supporting-text-EkZ6cq">
            <div class="heading-and-subheading-wxqvry">
              <div class="heading-Z921te">
                {{ 'donate_mobile.header1' | translate }}<br />
                {{ 'donate_mobile.header2' | translate }}</div>
            </div>
            <div class="supporting-text-wxqvry text-lgnormal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="donations-i1xz6i">
      <div class="careers-section-vf7lPW">
        <div class="container-sTGO23">
          <div class="content-1Rd257">
            <div class="heading-and-supporting-text-HNru0x">
              <div class="supporting-text-3SGWxZ text-xlnormal">
                {{ 'donate_mobile.organization' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="container-ZBSwkB">
          <div class="content-1kx54z">
            <div class="job-post-VNzxw0">
              <div class="divider-Plgbt5"></div>
              <div class="content-Plgbt5">
                <div class="text-and-supporting-text-ZEb0Lf">
                  <div class="text-and-badge-vRxbIi">
                    <div class="text-pS2xng text-lgmedium">
                      {{ 'donate_mobile.credit_card' | translate }}
                    </div>
                  </div>
                  <div class="supporting-text-vRxbIi text-mdnormal">{{ 'donate_mobile.credit_card_link' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="job-post-4szUel">
              <div class="divider-Q6tRzq"></div>
              <div class="content-Q6tRzq">
                <div class="text-and-supporting-text-vJ81I6">
                  <div class="text-and-badge-0rGuiQ">
                    <div class="text-OykBeg text-lgmedium">{{ 'donate_mobile.join_donors' | translate }}</div>
                  </div>
                </div>
                <div class="gofundme-vJ81I6">
                  <img
                    class="screenshot-2022-04-13-at-1551-2-Kq3uzN"
                    src="assets/img/screenshot-2022-04-13-at-15-51-2@2x.png"
                  />
                  <img
                    class="screenshot-2022-04-13-at-1551-1-Kq3uzN"
                    src="assets/img/screenshot-2022-04-13-at-15-51-2@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="job-post-061v8G">
              <div class="divider-iXDxxk"></div>
              <div class="content-iXDxxk">
                <div class="text-and-supporting-text-ik4k4W">
                  <div class="text-and-badge-KkSSdx">
                    <div class="text-CTodhu text-lgmedium">
                      {{ 'donate_mobile.donate_other1' | translate }}<br />
                      {{ 'donate_mobile.donate_other2' | translate }}
                    </div>
                  </div>
                  <div class="supporting-text-KkSSdx text-mdbold">
                        <span class="span0-FO6jrK text-mdbold">IBAN</span
                        ><span class="span1-FO6jrK text-mdnormal">: NL 51 BUNQ 2068 8159 23<br /></span
                  ><span class="span2-FO6jrK text-mdbold">{{ 'donate_mobile.name' | translate }}</span
                  ><span class="span3-FO6jrK text-mdnormal"> Zeilen van Vrijheid<br /></span
                  ><span class="span4-FO6jrK text-mdbold">BIC/SWIFT:</span
                  ><span class="span5-FO6jrK text-mdnormal"> BUNQNL2AXXX</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="job-post-ZPqxNW">
              <div class="divider-YxXani"></div>
              <div class="content-YxXani">
                <div class="text-and-supporting-text-nBlPS1">
                  <div class="text-and-badge-x4ezve">
                    <div class="text-qgDFG8 text-lgmedium">{{ 'donate_mobile.paypal' | translate }}</div>
                  </div>
                  <div class="supporting-text-x4ezve text-mdnormal">zeilenvanvrijheid@gmail.com</div>
                </div>
              </div>
            </div>
            <div class="job-post-yaNSWe">
              <div class="divider-hF7GZK"></div>
              <div class="content-hF7GZK">
                <div class="text-and-supporting-text-3Jhb7v">
                  <div class="text-and-badge-LAxpmB"><div class="text-DcKHyr text-lgmedium">ETH</div></div>
                  <div class="supporting-text-LAxpmB text-mdnormal">0x244BEcDb7ea4D9Da101478d79fD3fFc5e7b8DD16</div>
                </div>
              </div>
            </div>
            <div class="job-post-5mRnzy">
              <div class="divider-nf5x0C"></div>
              <div class="content-nf5x0C">
                <div class="text-and-supporting-text-d0O9g7">
                  <div class="text-and-badge-nFxmR1"><div class="text-ZJNmhz text-lgmedium">BTC</div></div>
                  <div class="supporting-text-nFxmR1 text-mdnormal">
                    bc1qgyq6qhvhfekkkf3gtpehvsztqtz0yg68d7dqzazr9qqexenl3wtq536hs3
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-section-i1xz6i">
      <div class="container-nZrGt4">
        <div class="content-CJEIqJ">
          <div class="faq-item-NUAKHl">
            <div class="content-HxvE3U">
              <div class="text-and-supporting-text-lolKBj">
                <div class="text-m9k1KL text-lgmedium">{{ 'donate_mobile.dutch_resident_header' | translate }}</div>
                <div class="supporting-text-m9k1KL text-mdnormal">
                  {{ 'donate_mobile.dutch_resident_text' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-aI9aNi">
        <div class="content-9x5o0J">
          <div class="heading-and-supporting-text-9x7qOo">
            <div class="heading-rss6uP text-xlmedium">{{ 'donate_mobile.thanks_header' | translate }}</div>
            <div class="supporting-text-rss6uP text-lgnormal">
              {{ 'donate_mobile.thanks_text' | translate }}
            </div>
          </div>
          <div class="actions-9x7qOo">
            <div class="button-GbrYdh">
              <div class="button-base-6hQyiS">
                <a class="text-JTGmbA text-mdmedium" href="mailto:zeilenvanvrijheid@gmail.com" target="_blank">
                  {{ 'donate_mobile.thanks_button' | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

