/* screen - landing-mobile */

.landing-mobile {
  background-color: var(--basewhite);
  display: flex;
  min-width: 100vw;
  overflow: hidden;
  width: 100%;
}

.landing-mobile .landing-new-ready-mobile {
  align-items: flex-start;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 0;
}

.landing-mobile .hero-header-section {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100vw;
}

.landing-mobile .dropdown-header-navigation {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--basewhite);
  display: flex;
  min-width: 100vw;
}

.landing-mobile .overlap-group {
  height: 72px;
  position: relative;
  width: 100vw;
}

.landing-mobile .divider {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 71px;
  width: 100vw;
}

.landing-mobile .header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 72px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.landing-mobile .container {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding-left: 16px;
  padding-right: 12px;
}

.landing-mobile .logo {
  align-items: center;
  display: flex;
  min-width: 192px;
}

.landing-mobile .logomark {
  height: 32px;
  width: 32px;
}

.landing-mobile .logotype {
  height: 13px;
  margin-left: 10px;
  margin-top: 7.0px;
  width: 150px;
}

.landing-mobile .nav-menu-button {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 40px;
  min-width: 40px;
  overflow: hidden;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.landing-mobile .menu {
  height: 24px;
  width: 24px;
}

.landing-mobile .section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 64px;
  padding-top: 64px;
}

.landing-mobile .container-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
}

.landing-mobile .heading-and-supporting-text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .heading-and-badge {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .heading-1 {
  align-self: stretch;
  letter-spacing: -0.72px;
  line-height: 44px;
  margin-top: -1px;
  width: calc(100vw - 32px);
}

.landing-mobile .supporting-text-2 {
  align-self: stretch;
  color: var(--gray500);
  font-weight: 400;
  height: 84px;
  line-height: 28px;
  width: calc(100vw - 32px);
}

.landing-mobile .actions {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 84px;
}

.landing-mobile .button {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  gap: 0;
  min-height: 48px;
}

.landing-mobile .button-base-3 {
  align-items: center;
  background-color: var(--sunglow);
  border: 1px solid var(--primary500);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: flex;
  flex: 1;
  gap: 8px;
  justify-content: center;
  min-height: 48px;
  overflow: hidden;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
}

.landing-mobile .text-5 {
  color: var(--baseblack);
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.landing-mobile .actions-1 {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  min-height: 24px;
  min-width: 132px;
}

.landing-mobile .social-icon {
  height: 24px;
  width: 24px;
}

.landing-mobile .social-icon-1 {
  height: 24px;
  width: 24px;
}

.landing-mobile .social-icon-2 {
  height: 24px;
  width: 24px;
}

.landing-mobile .social-icon-3 {
  height: 24px;
  width: 24px;
}

.landing-mobile .container-2 {
  align-self: stretch;
  margin-bottom: -0.25px;
  object-fit: contain;
}

.landing-mobile .features-section {
  align-items: center;
  background-color: var(--gray-cool--50);
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 64px;
  padding-top: 64px;
  width: 100vw;
}

.landing-mobile .container-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.landing-mobile .heading-and-supporting-text-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .heading-and-subheading {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 44px;
}

.landing-mobile .heading-2 {
  align-self: stretch;
  height: 44px;
  letter-spacing: -0.72px;
  line-height: 44px;
  margin-top: -1px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}

.landing-mobile .supporting-text-3 {
  align-self: stretch;
  color: var(--gray500);
  font-weight: 400;
  line-height: 30px;
  width: calc(100vw - 32px);
}

.landing-mobile .container-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.landing-mobile .feature-text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 16px;
}

.landing-mobile .featured-icon {
  background-color: var(--perano);
  border-radius: 28px;
  display: flex;
  height: 46px;
  margin-left: -3px;
  width: 46px;
}

.landing-mobile .truck {
  height: 20px;
  margin-left: 6px;
  margin-top: 12px;
  width: 20px;
}

.landing-mobile .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .text-and-supporting-text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 6px;
}

.landing-mobile .text {
  align-self: stretch;
  color: var(--gray900);
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  margin-top: -1px;
  white-space: nowrap;
  width: 287px;
}

.landing-mobile .supporting-text {
  align-self: stretch;
  color: var(--gray500);
  font-weight: 400;
  line-height: 24px;
  width: calc(100vw - 88px);
}

.landing-mobile .zap {
  height: 20px;
  margin-left: 6px;
  margin-top: 12px;
  width: 20px;
}

.landing-mobile .feature-text-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 16px;
}

.landing-mobile .rocket {
  height: 20px;
  margin-left: 6px;
  margin-top: 12px;
  width: 20px;
}

.landing-mobile .content-6 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .text-and-supporting-text-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 326px;
  padding-top: 6px;
}

.landing-mobile .supporting-text-4 {
  align-self: stretch;
  color: var(--gray500);
  font-weight: 400;
  height: 288px;
  line-height: 24px;
  width: 287px;
}

.landing-mobile .button-4 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 181px;
}

.landing-mobile .button-base-4 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 181px;
}

.landing-mobile .text-1 {
  color: var(--bdazzled-blue);
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.landing-mobile .arrow {
  height: 20px;
  width: 20px;
}

.landing-mobile .content-7 {
  align-self: stretch;
  background-color: var(--primary500);
  height: 320px;
  margin-bottom: -363px;
}

.landing-mobile .photo_2022-04-11_19-06-19-1 {
  height: calc(100vw * 0.88px);
  width: 100vw;
}

.landing-mobile .header-section {
  align-items: center;
  background-color: var(--biscay);
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 64px;
  padding-top: 64px;
  width: 100vw;
}

.landing-mobile .container-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-8 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
}

.landing-mobile .heading-and-supporting-text-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.landing-mobile .heading-and-subheading-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 88px;
}

.landing-mobile .heading-3 {
  align-self: stretch;
  color: var(--basewhite);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  height: 88px;
  letter-spacing: -0.72px;
  line-height: 44px;
  margin-top: -1px;
  width: calc(100vw - 32px);
}

.landing-mobile .supporting-text-5 {
  align-self: stretch;
  color: var(--blue-dark--50);
  font-weight: 400;
  line-height: 28px;
  width: calc(100vw - 32px);
}

.landing-mobile .how-you-can-help {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 64px;
  min-width: 375px;
  overflow: hidden;
  padding-bottom: 32px;
  padding-top: 96px;
}

.landing-mobile .container-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100vw;
}

.landing-mobile .content-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  min-width: 311px;
}

.landing-mobile .overlap-group-1 {
  height: 48px;
  position: relative;
  width: 768px;
}

.landing-mobile .heading-and-supporting-text-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 768px;
}

.landing-mobile .heading-4 {
  align-self: stretch;
  height: 44px;
  letter-spacing: -0.72px;
  line-height: 44px;
  margin-top: -1px;
  white-space: nowrap;
  width: 768px;
}

.landing-mobile .actions-2 {
  height: 48px;
  left: 153px;
  position: absolute;
  top: 0;
  width: 158px;
}

.landing-mobile .row {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.landing-mobile .blog-post-card {
  align-items: flex-start;
  background-color: var(--primary500);
  box-shadow: 0px 4px 6px -2px #1018280d , 0px 12px 16px -4px #1018281a;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  width: calc(100vw + 24px);
}

.landing-mobile .image {
  align-self: stretch;
  width: calc(100vw - 40px);
  height: calc(100vw - 40px);
}

.landing-mobile .content-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.landing-mobile .heading-and-text-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 138px;
}

.landing-mobile .heading-5 {
  align-self: stretch;
  color: var(--blue-dark--50);
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  margin-top: -1px;
  white-space: nowrap;
  width: 327px;
}

.landing-mobile .supporting-text-6 {
  align-self: stretch;
  color: var(--gray100);
  font-weight: 400;
  height: 96px;
  line-height: 24px;
  width: calc(100vw - 48px);
}

.landing-mobile .button-1 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 61px;
}

.landing-mobile .button-base {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 61px;
}

.landing-mobile .arrow-up-right {
  height: 20px;
  width: 20px;
}

.landing-mobile .blog-post-card-1 {
  align-items: flex-start;
  background-color: var(--warning500);
  box-shadow: 0px 4px 6px -2px #1018280d , 0px 12px 16px -4px #1018281a;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  width: calc(100vw + 24px);
}

.landing-mobile .image-1 {
  align-self: stretch;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62701dcf73a4a391408a94f7/releases/627d6452bf2b8ffcbbde9126/img/image-5@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 240px;
}

.landing-mobile .heading-and-text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 162px;
}

.landing-mobile .heading-6 {
  align-self: stretch;
  color: var(--gray-neutral--25);
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  margin-top: -1px;
  white-space: nowrap;
  width: 327px;
}

.landing-mobile .supporting-text-7 {
  align-self: stretch;
  color: var(--gray100);
  font-weight: 400;
  height: 120px;
  line-height: 24px;
  width: calc(100vw - 48px);
}

.landing-mobile .blog-post-card-2 {
  align-items: flex-start;
  background-color: var(--success500);
  box-shadow: 0px 4px 6px -2px #1018280d , 0px 12px 16px -4px #1018281a;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  width: calc(100vw + 24px);
}

.landing-mobile .image-2 {
  align-self: stretch;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62701dcf73a4a391408a94f7/releases/627d6452bf2b8ffcbbde9126/img/image-6@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 240px;
}

.landing-mobile .heading-7 {
  align-self: stretch;
  color: var(--basewhite);
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  margin-top: -1px;
  white-space: nowrap;
  width: 336px;
}

.landing-mobile .supporting-text-8 {
  align-self: stretch;
  color: var(--gray100);
  font-weight: 400;
  height: 120px;
  line-height: 24px;
  width: calc(100vw - 48px);
}

.landing-mobile .metrics-section {
  align-items: center;
  background-color: var(--sunglow);
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 64px;
  padding-top: 64px;
  width: 100vw;
}

.landing-mobile .container-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 70px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: 70px;
}

.landing-mobile .heading-and-supporting-text-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 70px;
}

.landing-mobile .heading-and-subheading-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 70px;
}

.landing-mobile .subheading {
  align-self: stretch;
  color: var(--bdazzled-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-top: -1px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}

.landing-mobile .heading-8 {
  align-self: stretch;
  color: var(--gray900);
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}

.landing-mobile .container-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 496px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 496px;
}

.landing-mobile .metric-item {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100px;
}

.landing-mobile .number-and-text {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 100px;
}

.landing-mobile .number {
  align-self: stretch;
  height: 60px;
  letter-spacing: -0.96px;
  line-height: 60px;
  margin-top: -1px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}

.landing-mobile .text-2 {
  align-self: stretch;
  color: var(--gray900);
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}

.landing-mobile .container-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .image-3 {
  align-self: stretch;
  flex: 1;
}

.landing-mobile .features-section-1 {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 64px;
  padding-top: 64px;
  width: 100vw;
}

.landing-mobile .container-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 38px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: 38px;
}

.landing-mobile .heading-and-supporting-text-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 38px;
}

.landing-mobile .heading-and-subheading-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 38px;
}

.landing-mobile .heading-9 {
  align-self: stretch;
  color: var(--gray900);
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  margin-top: -1px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}

.landing-mobile .container-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.landing-mobile .feature-text-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primary50);
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.landing-mobile .text-and-supporting-text-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.landing-mobile .text-3 {
  align-self: stretch;
  color: var(--downriver);
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  margin-top: -1px;
  white-space: nowrap;
  width: 303px;
}

.landing-mobile .supporting-text-9 {
  align-self: stretch;
  color: var(--bdazzled-blue);
  font-weight: 700;
  line-height: 24px;
  width: calc(100vw - 72px);
}

.landing-mobile .span {
  font-weight: 700;
}

.landing-mobile .span-1 {
  font-weight: 400;
}

.landing-mobile .supporting-text-1 {
  align-self: stretch;
  color: var(--bdazzled-blue);
  line-height: 24px;
  width: calc(100vw - 72px);
}

.landing-mobile .feature-text-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primary50);
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.landing-mobile .text-and-supporting-text-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.landing-mobile .supporting-text-10 {
  align-self: stretch;
  color: var(--bdazzled-blue);
  font-weight: 700;
  line-height: 24px;
  width: calc(100vw - 72px);
}

.landing-mobile .cta-section {
  align-items: flex-end;
  background-color: var(--basewhite);
  display: flex;
  width: 100vw;
}

.landing-mobile .overlap-group1 {
  height: 676px;
  position: relative;
  width: 100vw;
}

.landing-mobile .background-overlap {
  background-color: var(--gray800);
  height: 418px;
  left: 0;
  position: absolute;
  top: 288px;
  width: 100vw;
}

.landing-mobile .container-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 0;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  top: 200px;
  width: 100vw;
}

.landing-mobile .content-14 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--biscay);
  border-radius: 16px;
  box-shadow: 0px 8px 8px -4px #1018280a , 0px 20px 24px -4px #1018281a;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 354px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  width: calc(100vw - 48px - 36px);
}

.landing-mobile .heading-and-supporting-text-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 194px;
}

.landing-mobile .heading-10 {
  align-self: stretch;
  color: var(--basewhite);
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  margin-top: -1px;
  white-space: nowrap;
  width: 295px;
}

.landing-mobile .supporting-text-11 {
  align-self: stretch;
  color: #83a9ff;
  font-weight: 400;
  height: 140px;
  line-height: 28px;
  width: calc(100vw - 80px);
}

.landing-mobile .actions-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 48px;
}

.landing-mobile .button-base-5 {
  align-items: center;
  background-color: var(--primary500);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: flex;
  flex: 1;
  gap: 8px;
  justify-content: center;
  min-height: 48px;
  overflow: hidden;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
}

.landing-mobile .text-6 {
  color: var(--basewhite);
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.landing-mobile .container-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 192px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 192px;
}

.landing-mobile .text-and-supporting-text-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 192px;
}

.landing-mobile .text-7 {
  align-self: stretch;
  color: var(--gray900);
  font-weight: 500;
  height: 56px;
  line-height: 28px;
  margin-top: -1px;
  width: calc(100vw - 32px);
}

.landing-mobile .supporting-text-12 {
  align-self: stretch;
  color: var(--gray500);
  font-weight: 400;
  height: 128px;
  line-height: 24px;
  width: calc(100vw - 32px);
}

.landing-mobile .span1 {
  text-decoration: underline;
}

.landing-mobile .container-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 712px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .content-16 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 32px;
  min-height: 168px;
}

.landing-mobile .footer-links-column-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  min-height: 168px;
}

.landing-mobile .heading {
  align-self: stretch;
  color: var(--gray400);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-top: -1px;
  white-space: nowrap;
  width: 155.5px;
}

.landing-mobile .footer-links-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 132px;
}

.landing-mobile .footer-link-2 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 40px;
}

.landing-mobile .button-5 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 40px;
}

.landing-mobile .button-base-6 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 40px;
}

.landing-mobile .text-4 {
  color: var(--gray500);
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.landing-mobile .footer-link {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 69px;
}

.landing-mobile .button-2 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 69px;
}

.landing-mobile .button-base-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 69px;
}

.landing-mobile .footer-link-3 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 99px;
}

.landing-mobile .button-6 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 99px;
}

.landing-mobile .button-base-7 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 99px;
}

.landing-mobile .footer-link-4 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 82px;
}

.landing-mobile .button-7 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 82px;
}

.landing-mobile .button-base-8 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 82px;
}

.landing-mobile .footer-links-column-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  min-height: 60px;
}

.landing-mobile .footer-links-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 24px;
}

.landing-mobile .footer-link-5 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 160px;
}

.landing-mobile .button-8 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 160px;
}

.landing-mobile .button-base-9 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 160px;
}

.landing-mobile .content-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 32px;
  min-height: 240px;
}

.landing-mobile .footer-links-column {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  min-height: 240px;
}

.landing-mobile .footer-links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 204px;
}

.landing-mobile .footer-link-6 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 118px;
}

.landing-mobile .button-9 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 118px;
}

.landing-mobile .button-base-10 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 118px;
}

.landing-mobile .footer-link-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 84px;
}

.landing-mobile .button-3 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 84px;
}

.landing-mobile .button-base-2 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 84px;
}

.landing-mobile .footer-link-7 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 52px;
}

.landing-mobile .button-10 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 52px;
}

.landing-mobile .button-base-11 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 52px;
}

.landing-mobile .footer-link-8 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 89px;
}

.landing-mobile .button-11 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 89px;
}

.landing-mobile .button-base-12 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 89px;
}

.landing-mobile .footer-link-9 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 67px;
}

.landing-mobile .button-12 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 67px;
}

.landing-mobile .button-base-13 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 67px;
}

.landing-mobile .footer-link-10 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 62px;
}

.landing-mobile .button-13 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 62px;
}

.landing-mobile .button-base-14 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 62px;
}

.landing-mobile .footer-links-column-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  min-height: 96px;
}

.landing-mobile .footer-links-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 60px;
}

.landing-mobile .footer-link-11 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 61px;
}

.landing-mobile .footer-link-12 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 93px;
}

.landing-mobile .button-14 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 93px;
}

.landing-mobile .button-base-15 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 93px;
}

.landing-mobile .footer-link-13 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 70px;
}

.landing-mobile .button-15 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 70px;
}

.landing-mobile .button-base-16 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 70px;
}

.landing-mobile .footer-link-14 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 43px;
}

.landing-mobile .button-16 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 43px;
}

.landing-mobile .button-base-17 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 43px;
}

.landing-mobile .footer-link-15 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 42px;
}

.landing-mobile .button-17 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 42px;
}

.landing-mobile .button-base-18 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 42px;
}

.landing-mobile .footer-link-16 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 66px;
}

.landing-mobile .button-18 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 66px;
}

.landing-mobile .button-base-19 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 66px;
}

.landing-mobile .footer-link-17 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 88px;
}

.landing-mobile .button-19 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 88px;
}

.landing-mobile .button-base-20 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 88px;
}

.landing-mobile .footer-link-18 {
  align-items: center;
  display: flex;
  gap: 8px;
  min-height: 24px;
  min-width: 83px;
}

.landing-mobile .button-20 {
  align-items: flex-start;
  display: flex;
  gap: 0;
  min-height: 24px;
  min-width: 83px;
}

.landing-mobile .button-base-21 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  min-height: 24px;
  min-width: 83px;
}

.landing-mobile .container-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 113px;
  padding-left: 16px;
  padding-right: 16px;
}

.landing-mobile .divider-1 {
  align-self: stretch;
  background-color: var(--mercury);
  height: 1px;
}

.landing-mobile .content-17 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 80px;
}

.landing-mobile .logo-1 {
  align-items: center;
  display: flex;
  height: 32px;
  min-width: 192px;
  padding: 11.8px 15.8px;
}

.landing-mobile .logomark-1 {
  height: 1px;
  margin-top: 0.5px;
  width: 1px;
}

.landing-mobile .logotype-1 {
  align-self: flex-end;
  height: 1px;
  margin-left: 100px;
  width: 1px;
}

.landing-mobile .footer-text {
  align-self: stretch;
  color: var(--gray400);
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  width: calc(100vw - 32px);
}
