<div class="landing-mobile screen">
  <div class="landing-new-ready-mobile">
    <div class="hero-header-section">
      <div class="section">
        <div class="container-1">
          <div class="content-3">
            <div class="heading-and-supporting-text">
              <div class="heading-and-badge">
                <h1 class="heading-1 inter-semi-bold-mirage-36px">Aid for Ukraine that makes an impact</h1>
              </div>
              <div class="supporting-text-2 text-lgnormal">
                Help us deliver ambulances, medical aid, and emergency vehicles to areas in Ukraine where they are
                needed most.
              </div>
            </div>
            <div class="actions">
              <div class="button">
                <div class="button-base-3 border-1px-primary500">
                  <div class="text-5 text-mdmedium">Donate now</div>
                </div>
              </div>
              <div class="actions-1">
                <img
                  class="social-icon"
                  src="assets/img/social-icon@2x.png"
                />
                <img
                  class="social-icon-1"
                  src="assets/img/social-icon-1@2x.png"
                />
                <img
                  class="social-icon-2"
                  src="assets/img/social-icon-2@2x.png"
                />
                <img
                  class="social-icon-3"
                  src="assets/img/social-icon-3@2x.png"
                />
              </div>
            </div>
          </div>
        </div>
        <img class="container-2" src="assets/img/container@2x.png"
        />
      </div>
    </div>
    <div class="features-section">
      <div class="container-3">
        <div class="content-4">
          <div class="heading-and-supporting-text-1">
            <div class="heading-and-subheading">
              <div class="heading-2 inter-semi-bold-mirage-36px">What we do</div>
            </div>
            <div class="supporting-text-3 text-xlnormal">
              Stitching Zeilen Van Vrijheid (The Sails of Freedom Foundation) is a grassroots nonprofit organisation
              registered in The Netherlands. We deliver priority emergency vehicles, medicines, and equipment to
              Ukraine with minimal delays, to places where they are needed the most. <br />Since March 1st, 2022, we
              have delivered 45 ambulances, 1 fire truck, 12 support vehicles, and 80 tonnes of medical supplies.
            </div>
          </div>
        </div>
      </div>
      <div class="container-4">
        <div class="content-5">
          <div class="feature-text">
            <div class="featured-icon border-6px-primary50">
              <img
                class="truck"
                src="assets/img/truck-1@2x.png"
              />
            </div>
            <div class="content">
              <div class="text-and-supporting-text">
                <div class="text text-lgmedium">Seamless delivery</div>
                <p class="supporting-text text-mdnormal">
                  We buy the best used ambulances available in the EU and equip them with life-saving medical
                  devices. For seamless delivery, we conduct all technical inspections and arrange export documents.
                  Volunteers then drive the vehicles directly to the Ukrainian border. Our agreements with the
                  Ukrainian State Border Guard Service ensure that our ambulances are not unloaded or inspection and
                  can proceed directly to their destination.
                </p>
              </div>
            </div>
          </div>
          <div class="feature-text">
            <div class="featured-icon border-6px-primary50">
              <img
                class="zap"
                src="assets/img/zap-1@2x.png"
              />
            </div>
            <div class="content">
              <div class="text-and-supporting-text">
                <div class="text text-lgmedium">Maximum impact</div>
                <p class="supporting-text text-mdnormal">
                  We deliver what is needed, when it is needed, to places where it’s needed the most. We are in
                  contact with local officials, hospitals, and volunteers in Ukraine who provide insight on the
                  supplies that are needed on the ground right now. We leverage our connections with charities,
                  hospitals, and suppliers in the EU to source necessary medicines, medical equipment, and other
                  supplies. Whatever we cannot find via donations, we buy directly.
                </p>
              </div>
            </div>
          </div>
          <div class="feature-text-2">
            <div class="featured-icon border-6px-primary50">
              <img
                class="rocket"
                src="assets/img/rocket-1@2x.png"
              />
            </div>
            <div class="content-6">
              <div class="text-and-supporting-text-2">
                <div class="text text-lgmedium">Broad capabilities</div>
                <p class="supporting-text text-mdnormal">
                  In addition to ambulances, we procure and deliver special emergency vehicles. In many places
                  within Ukraine, there is a need to evacuate wounded people from areas that ordinary ambulances
                  simply cannot reach. In others, fires are raging, making evacuation next to impossible. To tackle
                  these needs, we deliver offroad 4x4 vehicles and other emergency vehicles (such as fire trucks)
                  upon request.
                </p>
              </div>
              <div class="button-4">
                <div class="button-base-4">
                  <div class="text-1 text-mdmedium">Read more about us</div>
                  <img
                    class="arrow"
                    src="assets/img/arrow-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-7"></div>
    </div>
    <img
      class="photo_2022-04-11_19-06-19-1"
      src="assets/img/photo-2022-04-11-19-06-19-1@2x.png"
    />
    <div class="header-section">
      <div class="container-5">
        <div class="content-8">
          <div class="heading-and-supporting-text-2">
            <div class="heading-and-subheading-1"><div class="heading-3">Why ambulances matter</div></div>
            <div class="supporting-text-5 text-lgnormal">
              An ambulance reaching a wounded or sick person in time can mark the difference between life and death.
              In war-torn Ukraine, the average lifespan of all emergency vehicles is short. They are used in harsh
              conditions and military action is ongoing. Ambulances and other emergency vehicles are also often
              targeted by invading forces. Stitching Zeilen Van Vrijhied delivers vehicles that help save lives
              every day.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="how-you-can-help">
      <div class="container-6">
        <div class="content-9">
          <div class="overlap-group-1">
            <div class="heading-and-supporting-text-3">
              <div class="heading-4 inter-semi-bold-mirage-36px">How you can help</div>
            </div>
            <div class="actions-2"></div>
          </div>
        </div>
        <div class="row">
          <div class="blog-post-card">
            <img class="image" src="assets/img/image@2x.png" />
            <div class="content-1">
              <div class="heading-and-text-1">
                <div class="heading-5 text-xlsemibold">Donate to make a difference</div>
                <p class="supporting-text-6 text-mdnormal">
                  Every extra cent helps us buy more medicines, more medical equipment, and more emergency vehicles
                  to save lives in Ukraine. See how you can donate now:
                </p>
              </div>
              <div class="button-1">
                <div class="button-base">
                  <div class="text-1 text-mdmedium">CTA</div>
                  <img
                    class="arrow-up-right"
                    src="assets/img/arrow-up-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-card-1">
            <img class="image" src="assets/img/image-10@2x.png" />
            <div class="content-1">
              <div class="heading-and-text">
                <div class="heading-6 text-xlsemibold">Volunteers needed</div>
                <p class="supporting-text-7 text-mdnormal">
                  We are always on the lookout for volunteers to help us load and drive our vehicles, source medical
                  equipment, and help us digitally. Reach out to learn how you can make a difference:
                </p>
              </div>
              <div class="button-1">
                <div class="button-base">
                  <div class="text-1 text-mdmedium">CTA</div>
                  <img
                    class="arrow"
                    src="assets/img/arrow-up-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="blog-post-card-2">
            <img class="image" src="assets/img/image-11@2x.png" />
            <div class="content-1">
              <div class="heading-and-text">
                <div class="heading-7 text-xlsemibold">Adopt an ambulance</div>
                <p class="supporting-text-8 text-mdnormal">
                  Would you or your organisation like to adopt an ambulance or other emergency vehicle? We can help
                  you send a fully branded vehicle to Ukraine and provide PR support. Get in touch to discuss your
                  options:
                </p>
              </div>
              <div class="button-1">
                <div class="button-base">
                  <div class="text-1 text-mdmedium">CTA</div>
                  <img
                    class="arrow"
                    src="assets/img/arrow-up-right@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="metrics-section">
      <div class="container-7">
        <div class="content-10">
          <div class="heading-and-supporting-text-4">
            <div class="heading-and-subheading-2">
              <div class="subheading text-smsemibold">#Countwithzeilen</div>
              <div class="heading-8 display-smsemibold">Our impact</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-8">
        <div class="content-11">
          <div class="metric-item">
            <div class="number-and-text">
              <div class="number inter-semi-bold-royal-blue-48px">42</div>
              <div class="text-2 text-lgmedium">Ambulances</div>
            </div>
          </div>
          <div class="metric-item">
            <div class="number-and-text">
              <div class="number inter-semi-bold-royal-blue-48px">12</div>
              <div class="text-2 text-lgmedium">Support vehicles</div>
            </div>
          </div>
          <div class="metric-item">
            <div class="number-and-text">
              <div class="number inter-semi-bold-royal-blue-48px">1</div>
              <div class="text-2 text-lgmedium">Fire truck</div>
            </div>
          </div>
          <div class="metric-item">
            <div class="number-and-text">
              <div class="number inter-semi-bold-royal-blue-48px">80</div>
              <div class="text-2 text-lgmedium">Tonnes of medical aid</div>
            </div>
          </div>
        </div>
      </div>
      <img class="image-3" src="assets/img/image-3@2x.png" />
    </div>
    <div class="features-section-1">
      <div class="container-10">
        <div class="content-12">
          <div class="heading-and-supporting-text-5">
            <div class="heading-and-subheading-3">
              <div class="heading-9 display-smsemibold">What makes us special</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-11">
        <div class="content-13">
          <div class="feature-text-1">
            <div class="text-and-supporting-text-1">
              <div class="text-3 text-lgmedium">We are efficient</div>
              <p class="supporting-text-9 text-mdbold">
                    <span class="span text-mdbold">Our convoys depart regularly</span
                    ><span class="span-1 text-mdnormal"
              >. Thanks to our agreements with the State Border Guards, our vehicles are not unloaded at the
                      border and proceed through customs with no delays. All aid goes directly to where it’s needed
                      right now.</span
              >
              </p>
            </div>
          </div>
          <div class="feature-text-1">
            <div class="text-and-supporting-text-1">
              <div class="text-3 text-lgmedium">We have support</div>
              <p class="supporting-text-1 text-mdnormal">
                    <span class="span-1 text-mdnormal">We have official authorisation and support letters from </span
                    ><span class="span text-mdbold"
              >The Office of the Commander-in-Chief of the Armed Forces of Ukraine</span
              ><span class="span-1 text-mdnormal">, the </span
              ><span class="span text-mdbold">State Border Guard Service of Ukraine</span
              ><span class="span-1 text-mdnormal">, and the </span
              ><span class="span text-mdbold">Office of the President of Ukraine</span
              ><span class="span-1 text-mdnormal"> who endorse our mission.</span>
              </p>
            </div>
          </div>
          <div class="feature-text-3">
            <div class="text-and-supporting-text-3">
              <div class="text-3 text-lgmedium">We connect</div>
              <p class="supporting-text-10 text-mdbold">
                    <span class="span text-mdbold">We are in direct contact</span
                    ><span class="span-1 text-mdnormal">
                      with Ukrainian hospitals, government offices, and diplomatic missions. We partner with local
                      officials and volunteers, as well as humanitarian aid organisations and groups in Europe.</span
              >
              </p>
            </div>
          </div>
          <div class="feature-text-1">
            <div class="text-and-supporting-text-1">
              <div class="text-3 text-lgmedium">We optimise</div>
              <p class="supporting-text-1 text-mdnormal">
                    <span class="span-1 text-mdnormal">We have </span
                    ><span class="span text-mdbold">deals with humanitarian organisations</span
              ><span class="span-1 text-mdnormal">
                      that provide the most costly medical devices free of charge. Our outreach to hospitals and
                      suppliers across the EU allow us to source additional medical air as charitable donations.</span
              >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-section">
      <div class="overlap-group1">
        <div class="background-overlap"></div>
        <div class="container-12">
          <div class="content-14">
            <div class="heading-and-supporting-text-6">
              <div class="heading-10 display-smsemibold">See for yourself</div>
              <div class="supporting-text-11 text-lgnormal">
                As a grassroots organisation, we value transparency above all. Read our reports to see the
                difference our work has made so far:
              </div>
            </div>
            <div class="actions-3">
              <div class="button">
                <div class="button-base-5"><div class="text-6 text-mdmedium">Our reports</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

